<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.warehouse.dao.IpoStorageMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.warehouse.entity.IpoStorage" >
    <id column="STORAGEID" property="storageid" jdbcType="VARCHAR" />
    <result column="COMMODITYID" property="commodityid" jdbcType="VARCHAR" />
    <result column="STORAGENUM" property="storagenum" jdbcType="DECIMAL" />
    <result column="STARTNUM" property="startnum" jdbcType="VARCHAR" />
    <result column="ENDNUM" property="endnum" jdbcType="VARCHAR" />
    <result column="OPERATORID" property="operatorid" jdbcType="VARCHAR" />
    <result column="WAREHOUSEAUDITORID" property="warehouseauditorid" jdbcType="VARCHAR" />
    <result column="MARKETAUDITORID" property="marketauditorid" jdbcType="VARCHAR" />
    <result column="STORAGESTATE" property="storagestate" jdbcType="DECIMAL" />
    <result column="STORAGEDATE" property="storagedate" jdbcType="DATE" />
    <result column="WAREHOUSEID" property="warehouseid" jdbcType="DECIMAL" />
    <result column="MAPPERBILLID" property="mapperbillid" jdbcType="VARCHAR" />
    <result column="STORAGECOUNTS" property="storagecounts" jdbcType="DECIMAL" />
    <result column="TRANSFERSTATUS" property="transferstate" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="SResultMap" type="com.yrdce.ipo.modules.warehouse.entity.IpoStorageExtended" >
    <id column="STORAGEID" property="storageid" jdbcType="VARCHAR" />
    <result column="COMMODITYID" property="commodityid" jdbcType="VARCHAR" />
    <result column="STORAGENUM" property="storagenum" jdbcType="DECIMAL" />
    <result column="STARTNUM" property="startnum" jdbcType="VARCHAR" />
    <result column="ENDNUM" property="endnum" jdbcType="VARCHAR" />
    <result column="OPERATORID" property="operatorid" jdbcType="VARCHAR" />
    <result column="WAREHOUSEAUDITORID" property="warehouseauditorid" jdbcType="VARCHAR" />
    <result column="MARKETAUDITORID" property="marketauditorid" jdbcType="VARCHAR" />
    <result column="STORAGESTATE" property="storagestate" jdbcType="DECIMAL" />
    <result column="STORAGEDATE" property="storagedate" jdbcType="DATE" />
    <result column="WAREHOUSEID" property="warehouseid" jdbcType="DECIMAL" />
    <result column="MAPPERBILLID" property="mapperbillid" jdbcType="VARCHAR" />
    <result column="STORAGECOUNTS" property="storagecounts" jdbcType="DECIMAL" />
    <result column="COMMODITYNAME" property="commodityname" jdbcType="VARCHAR" />
    <result column="PUBMEMBERID" property="pubmemberid" jdbcType="VARCHAR" />
    <result column="PUBLISHERNAME" property="publishername" jdbcType="VARCHAR" />
    <result column="COUNTS" property="counts" jdbcType="DECIMAL" />
    <result column="CONTRACTFACTOR" property="contractfactor" jdbcType="DECIMAL" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="TRANSFERSTATUS" property="transferstate" jdbcType="DECIMAL" />
  </resultMap>
  
  <sql id="Base_Column_My" >
    STORAGEID, COMMODITYID, STORAGENUM, STARTNUM, ENDNUM, OPERATORID, WAREHOUSEAUDITORID, 
    MARKETAUDITORID, STORAGESTATE, STORAGEDATE, WAREHOUSEID, MAPPERBILLID
  </sql> 
  <sql id="Base_Column_List" >
     STORAGEID, COMMODITYID, STORAGENUM, 
      STARTNUM, ENDNUM, OPERATORID, 
      WAREHOUSEAUDITORID, MARKETAUDITORID, STORAGESTATE, 
      STORAGEDATE, WAREHOUSEID, MAPPERBILLID,STORAGECOUNTS,TRANSFERSTATUS
  </sql>
  
  
  <select id="findStoragesByPage" resultMap="SResultMap" parameterType="map">
   select p.* from (select g.*,rownum TNO from (select a.*, b.name publishername
    from (select t.*, c.commodityname, c.pubmemberid,c.counts,c.contractfactor,c.price from ipo_storage t  left join ipo_commodity_conf c
    on t.commodityid = c.commodityid) a left join br_broker b
    on a.pubmemberid = b.brokerid order by a.storageid) g where 1=1
       <if test="record.storageid != null" >
       and g.STORAGEID like concat (#{record.storageid,jdbcType=VARCHAR},'%')
      </if>
       <if test="record.commodityid != null" >
       and g.COMMODITYID like concat (#{record.commodityid,jdbcType=VARCHAR},'%')
      </if>
       <if test="record.storagedate != null" >
       and g.STORAGEDATE = #{record.storagedate,jdbcType=DATE}
      </if>
      <if test="record.storagestate != null" >
       and g.STORAGESTATE = #{record.storagestate,jdbcType=DECIMAL}
      </if>
    order by g.STORAGEID)  p where p.TNO between  #{beginnum} and #{endnum}
  </select>
   <select id="getTotalNum" resultType="java.lang.Integer" parameterType="com.yrdce.ipo.modules.warehouse.entity.IpoStorageExtended">
   	 select count(*) from IPO_STORAGE where 1=1
   	    <if test="storageid != null" >
       and STORAGEID like  concat (#{storageid,jdbcType=VARCHAR},'%')
      </if>
       <if test="commodityid != null" >
       and COMMODITYID like concat (#{commodityid,jdbcType=VARCHAR},'%')
      </if>
       <if test="storagedate != null" >
       and STORAGEDATE = #{storagedate,jdbcType=DATE}
      </if>
      <if test="storagestate != null" >
       and STORAGESTATE = #{storagestate,jdbcType=DECIMAL}
      </if>
  </select>
   <select id="sequence" resultType="java.lang.Integer">
	SELECT SEQ_IPO_STORAGE.NEXTVAL FROM dual
   </select>
     <update id="updateStorageState" parameterType="map">
    update IPO_STORAGE
    set 
     <if test="state != 5 and state != 4" >
        WAREHOUSEAUDITORID = #{checker,jdbcType=VARCHAR},
      </if>
     <if test="state != 2 and state != 3" >
        MARKETAUDITORID = #{checker,jdbcType=VARCHAR},
      </if>
      STORAGESTATE = #{state,jdbcType=DECIMAL}
    where STORAGEID = #{storageid,jdbcType=VARCHAR}
  </update>
   <insert id="insert" parameterType="com.yrdce.ipo.modules.warehouse.entity.IpoStorage" >
    insert into IPO_STORAGE (<include refid="Base_Column_List" />  )
    values (#{storageid,jdbcType=VARCHAR}, #{commodityid,jdbcType=VARCHAR}, #{storagenum,jdbcType=DECIMAL}, 
      #{startnum,jdbcType=VARCHAR}, #{endnum,jdbcType=VARCHAR}, #{operatorid,jdbcType=VARCHAR}, 
      #{warehouseauditorid,jdbcType=VARCHAR}, #{marketauditorid,jdbcType=VARCHAR}, #{storagestate,jdbcType=DECIMAL}, 
      #{storagedate,jdbcType=DATE}, #{warehouseid,jdbcType=DECIMAL}, #{mapperbillid,jdbcType=VARCHAR},#{storagecounts,jdbcType=VARCHAR}
     , #{transferstate,jdbcType=DECIMAL} )
  </insert>
   <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.warehouse.entity.IpoStorage" >
    update IPO_STORAGE
    set COMMODITYID= #{commodityid,jdbcType=VARCHAR},
        STORAGENUM = #{storagenum,jdbcType=DECIMAL}, 
        STARTNUM =#{startnum,jdbcType=VARCHAR}, 
        ENDNUM= #{endnum,jdbcType=VARCHAR}, 
        OPERATORID = #{operatorid,jdbcType=VARCHAR}, 
        WAREHOUSEAUDITORID =#{warehouseauditorid,jdbcType=VARCHAR}, 
        MARKETAUDITORID= #{marketauditorid,jdbcType=VARCHAR}, 
        STORAGESTATE =#{storagestate,jdbcType=DECIMAL}, 
        STORAGEDATE = #{storagedate,jdbcType=DATE}, 
        WAREHOUSEID =#{warehouseid,jdbcType=DECIMAL}, 
        MAPPERBILLID =#{mapperbillid,jdbcType=VARCHAR},
        STORAGECOUNTS =#{storagecounts,jdbcType=VARCHAR}, 
        TRANSFERSTATUS =#{transferstate,jdbcType=DECIMAL}
     where STORAGEID = #{storageid,jdbcType=VARCHAR}
  </update>
   <update id="updateTransferstatusByPrimaryKey" parameterType="map" >
    update IPO_STORAGE
    set TRANSFERSTATUS =#{transferstate,jdbcType=DECIMAL}
     where STORAGEID = #{storageid,jdbcType=VARCHAR}
  </update>
   <select id="getWarehouseId" resultType="String" parameterType="String">
     SELECT T.WAREHOUSEID FROM W_USER T WHERE T.USERID = #{userId,jdbcType=VARCHAR}
      </select>
       <select id="getWarehousePrimaryKey" resultType="Long" parameterType="String">
      SELECT B.ID  FROM BI_WAREHOUSE B WHERE B.WAREHOUSEID=(SELECT U.WAREHOUSEID  FROM W_USER U WHERE U.USERID=#{userId,jdbcType=VARCHAR}) 
      </select>
       <select id="getStorageByStorageId" resultType="com.yrdce.ipo.modules.warehouse.entity.IpoStorageExtended" parameterType="String">
     SELECT t.* ,c.commodityname,c.pubmemberid,c.counts,c.contractfactor,c.price,b.name publishername  from IPO_STORAGE t left join ipo_commodity_conf c
     on t.commodityid = c.commodityid left join br_broker b on c.pubmemberid = b.brokerid where STORAGEID=#{storageid,jdbcType=VARCHAR}
      </select>
      
       <select id="getStorageByPrimary" resultType="com.yrdce.ipo.modules.warehouse.entity.IpoStorage" parameterType="String">
     SELECT <include refid="Base_Column_List" /> from IPO_STORAGE  where STORAGEID=#{storageid,jdbcType=VARCHAR}
      </select>
</mapper>