<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.warehouse.dao.IpoWarehouseStockMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.warehouse.entity.IpoWarehouseStock" >
    <id column="STOCKID" property="stockid" jdbcType="VARCHAR" />
    <result column="COMMODITYID" property="commodityid" jdbcType="VARCHAR" />
    <result column="STORAGENUM" property="storagenum" jdbcType="DECIMAL" />
    <result column="FORZENNUM" property="forzennum" jdbcType="DECIMAL" />
    <result column="AVAILABLENUM" property="availablenum" jdbcType="DECIMAL" />
    <result column="OUTBOUNDNUM" property="outboundnum" jdbcType="DECIMAL" />
    <result column="WAREHOUSEID" property="warehouseid" jdbcType="DECIMAL" />
    <result column="COMMODITYNAME" property="commodityname" jdbcType="VARCHAR" />
    <result column="PUBMEMBERID" property="pubmemberid" jdbcType="VARCHAR" />
    <result column="PUBMEMBERNAME" property="pubmembername" jdbcType="VARCHAR" />
    <result column="WAREHOUSENAME" property="warehousename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    STOCKID, COMMODITYID, STORAGENUM, FORZENNUM, AVAILABLENUM, OUTBOUNDNUM,WAREHOUSEID
  </sql>
    <insert id="insert" parameterType="com.yrdce.ipo.modules.warehouse.entity.WarehouseStock" >
    	 <selectKey resultType="String" order="BEFORE" keyProperty="stockid">
	     SELECT to_char(SEQ_IPO_WAREHOUSE_STOCK.NEXTVAL) FROM dual
	     </selectKey>
    insert into IPO_WAREHOUSE_STOCK (<include refid="Base_Column_List" />  )
    values (#{stockid,jdbcType=VARCHAR}, #{commodityid,jdbcType=VARCHAR}, #{storagenum,jdbcType=DECIMAL}, 
      #{forzennum,jdbcType=DECIMAL}, #{availablenum,jdbcType=DECIMAL}, #{outboundnum,jdbcType=DECIMAL}, 
      #{warehouseid,jdbcType=DECIMAL})
  </insert>

   <select id="findWarehouseStockByPage" resultMap="BaseResultMap" parameterType="map">
     select <include refid="Base_Column_List" />,COMMODITYNAME,PUBMEMBERID,PUBMEMBERNAME,WAREHOUSENAME from (select t.*, c.COMMODITYNAME, c.PUBMEMBERID, b.NAME PUBMEMBERNAME,w.WAREHOUSENAME WAREHOUSENAME, rownum TNO
     from IPO_WAREHOUSE_STOCK t  LEFT JOIN IPO_COMMODITY_CONF c ON t.COMMODITYID = c.COMMODITYID  LEFT JOIN BR_BROKER b
     ON c.PUBMEMBERID = b.BROKERID LEFT JOIN  BI_WAREHOUSE w ON  w.ID=t.WAREHOUSEID  where 1 = 1 
       <if test="record.commodityid != null" >
       and t.COMMODITYID like concat (#{record.commodityid,jdbcType=VARCHAR},'%')
      </if>
       <if test="record.warehouseid != null" >
       and t.WAREHOUSEID = #{record.warehouseid,jdbcType=DECIMAL}
      </if>
       order by t.STOCKID) a where a.TNO between  #{beginnum} and  #{endnum}
  </select>
   <select id="getQueryNum" resultType="Integer" parameterType="com.yrdce.ipo.modules.warehouse.entity.IpoWarehouseStock">
     select count(*) from IPO_WAREHOUSE_STOCK t where 1=1 
       <if test="record.commodityid != null" >
       and t.COMMODITYID like concat (#{record.commodityid,jdbcType=VARCHAR},'%')
      </if>
       <if test="record.warehouseid != null" >
       and t.WAREHOUSEID = #{record.warehouseid,jdbcType=DECIMAL}
      </if>
  </select>
  
  <select id="selectByCommoId" resultMap="BaseResultMap" parameterType="map">
  	select * from ipo_warehouse_stock
  	where COMMODITYID = #{commodityid,jdbcType=VARCHAR}
  	and WAREHOUSEID=#{warehouseid,jdbcType=DECIMAL}
  </select>
  
  <update id="updateInfo" parameterType="map">
  	update IPO_WAREHOUSE_STOCK set
    COMMODITYID=#{commodityid,jdbcType=VARCHAR},
    STORAGENUM=#{storagenum,jdbcType=DECIMAL}, 
     FORZENNUM= #{forzennum,jdbcType=DECIMAL},
      AVAILABLENUM=#{availablenum,jdbcType=DECIMAL}, 
      OUTBOUNDNUM=#{outboundnum,jdbcType=DECIMAL}, 
      WAREHOUSEID=#{warehouseid,jdbcType=DECIMAL}
    where STOCKID=#{stockid,jdbcType=VARCHAR}
  </update>
  
</mapper>
