hs_err_pid*
.DS_Store
.DS_Store?
.idea
*.iml
.classpath

.externalToolBuilders
.mymetadata
.checkstyle
/.settings/

.class
.war
.zip
.rar

/indexes/
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/userfiles/
/target/
/logs/
/temp/

/ipo-web-utils/
