<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.HistorydaydataMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.Historydaydata" >
    <result column="MARKETID" property="password" jdbcType="VARCHAR" />
    <result column="COMMODITYID" property="commodityid" jdbcType="VARCHAR" />
    <result column="TRADEDATE" property="tradedate" jdbcType="DATE" />
    <result column="OPENPRICE" property="openprice" jdbcType="DECIMAL" />
    <result column="CLOSEPRICE" property="closeprice" jdbcType="DECIMAL" />
    <result column="HIGHPRICE" property="highprice" jdbcType="DECIMAL" />
    <result column="LOWPRICE" property="lowprice" jdbcType="DECIMAL" />
    <result column="BALANCEPRICE" property="balanceprice" jdbcType="DECIMAL" />
    <result column="TOTALAMOUNT" property="totalamount" jdbcType="DECIMAL" />
    <result column="TOTALMONEY" property="totalmoney" jdbcType="DECIMAL" />
    <result column="RESERVECOUNT" property="reservecount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    MARKETID, COMMODITYID, TRADEDATE, OPENPRICE, CLOSEPRICE, HIGHPRICE, LOWPRICE, BALANCEPRICE, TOTALAMOUNT, TOTALMONEY, RESERVECOUNT
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yrdce.ipo.modules.sys.vo.Historydaydata" >
    select
   <include refid="Base_Column_List" />
    from HISTORYDAYDATA where 1=1 
    <if test="record.commodityid != null" >
      and COMMODITYID=#{record.commodityid}
    </if>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from HISTORYDAYDATA
  </select>


 
  
  
</mapper>
