<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoBrokerMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoBroker" >
    <id column="FIRMID" property="firmid" jdbcType="VARCHAR" />
    <result column="BROKERID" property="brokerid" jdbcType="VARCHAR" />
  </resultMap>
	
  <select id="selectFirm" resultMap="BaseResultMap">
  	select t.* from(select t1.brokerid from br_broker t1 where t1.membertype = 0)broker 
	left join br_firmandbroker t on broker.brokerid = t.brokerid
  </select>
</mapper>