<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoCommodityMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoCommodity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="commodityid" property="commodityid" jdbcType="VARCHAR" />
    <result column="commodityname" property="commodityname" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="UNIT" property="unit" jdbcType="DECIMAL" />
    <result column="COUNTS" property="counts" jdbcType="DECIMAL" />
    <result column="start_time" property="startTime" jdbcType="DATE" />
    <result column="end_time" property="endTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, commodityid, commodityname, price, UNIT, COUNTS, start_time, end_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yrdce.ipo.modules.sys.entity.IpoCommodityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IPO_COMMODITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from IPO_COMMODITY
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from IPO_COMMODITY
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yrdce.ipo.modules.sys.entity.IpoCommodityExample" >
    delete from IPO_COMMODITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.IpoCommodity" >
    insert into IPO_COMMODITY (id, commodityid, commodityname, 
      price, UNIT, COUNTS, 
      start_time, end_time)
    values (#{id,jdbcType=VARCHAR}, #{commodityid,jdbcType=VARCHAR}, #{commodityname,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{unit,jdbcType=DECIMAL}, #{counts,jdbcType=DECIMAL}, 
      #{startTime,jdbcType=DATE}, #{endTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.yrdce.ipo.modules.sys.entity.IpoCommodity" >
    insert into IPO_COMMODITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commodityid != null" >
        commodityid,
      </if>
      <if test="commodityname != null" >
        commodityname,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="unit != null" >
        UNIT,
      </if>
      <if test="counts != null" >
        COUNTS,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="commodityid != null" >
        #{commodityid,jdbcType=VARCHAR},
      </if>
      <if test="commodityname != null" >
        #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=DECIMAL},
      </if>
      <if test="counts != null" >
        #{counts,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yrdce.ipo.modules.sys.entity.IpoCommodityExample" resultType="java.lang.Integer" >
    select count(*) from IPO_COMMODITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update IPO_COMMODITY
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityid != null" >
        commodityid = #{record.commodityid,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityname != null" >
        commodityname = #{record.commodityname,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.unit != null" >
        UNIT = #{record.unit,jdbcType=DECIMAL},
      </if>
      <if test="record.counts != null" >
        COUNTS = #{record.counts,jdbcType=DECIMAL},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=DATE},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update IPO_COMMODITY
    set id = #{record.id,jdbcType=VARCHAR},
      commodityid = #{record.commodityid,jdbcType=VARCHAR},
      commodityname = #{record.commodityname,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      UNIT = #{record.unit,jdbcType=DECIMAL},
      COUNTS = #{record.counts,jdbcType=DECIMAL},
      start_time = #{record.startTime,jdbcType=DATE},
      end_time = #{record.endTime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yrdce.ipo.modules.sys.entity.IpoCommodity" >
    update IPO_COMMODITY
    <set >
      <if test="commodityid != null" >
        commodityid = #{commodityid,jdbcType=VARCHAR},
      </if>
      <if test="commodityname != null" >
        commodityname = #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        UNIT = #{unit,jdbcType=DECIMAL},
      </if>
      <if test="counts != null" >
        COUNTS = #{counts,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=DATE},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.IpoCommodity" >
    update IPO_COMMODITY
    set commodityid = #{commodityid,jdbcType=VARCHAR},
      commodityname = #{commodityname,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      UNIT = #{unit,jdbcType=DECIMAL},
      COUNTS = #{counts,jdbcType=DECIMAL},
      start_time = #{startTime,jdbcType=DATE},
      end_time = #{endTime,jdbcType=DATE}
    where id = #{id,jdbcType=VARCHAR}
  </update>
   <select id="getAll" resultMap="BaseResultMap" parameterType="map">  
    select 
    <include refid="Base_Column_List" />
    from IPO_COMMODITY
    limit #{curRow},#{pageSize}       
    </select>  
  
</mapper>