<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoDeliveryCostMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoDeliveryCost" >
    <id column="DELIVERY_ID" property="deliveryId" jdbcType="VARCHAR" />
    <result column="DELIVERY_METHOD" property="deliveryMethod" jdbcType="VARCHAR" />
    <result column="APPLY_DATE" property="applyDate" jdbcType="DATE" />
    <result column="INSURANCE" property="insurance" jdbcType="DECIMAL" />
    <result column="TRUSTEE_FEE" property="trusteeFee" jdbcType="DECIMAL" />
    <result column="WAREHOUSING_FEE" property="warehousingFee" jdbcType="DECIMAL" />
    <result column="DELIVERY_FEE" property="deliveryFee" jdbcType="DECIMAL" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from IPO_DELIVERY_COST
    where DELIVERY_ID = #{deliveryId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryCost" >
    insert into IPO_DELIVERY_COST (DELIVERY_ID, DELIVERY_METHOD, APPLY_DATE, 
      INSURANCE, TRUSTEE_FEE, WAREHOUSING_FEE, 
      DELIVERY_FEE)
    values (#{deliveryId,jdbcType=VARCHAR}, #{deliveryMethod,jdbcType=VARCHAR}, #{applyDate,jdbcType=DATE}, 
      #{insurance,jdbcType=DECIMAL}, #{trusteeFee,jdbcType=DECIMAL}, #{warehousingFee,jdbcType=DECIMAL}, 
      #{deliveryFee,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryCost" >
    update IPO_DELIVERY_COST
    set DELIVERY_METHOD = #{deliveryMethod,jdbcType=VARCHAR},
      APPLY_DATE = #{applyDate,jdbcType=DATE},
      INSURANCE = #{insurance,jdbcType=DECIMAL},
      TRUSTEE_FEE = #{trusteeFee,jdbcType=DECIMAL},
      WAREHOUSING_FEE = #{warehousingFee,jdbcType=DECIMAL},
      DELIVERY_FEE = #{deliveryFee,jdbcType=DECIMAL}
    where DELIVERY_ID = #{deliveryId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select DELIVERY_ID, DELIVERY_METHOD, APPLY_DATE, INSURANCE, TRUSTEE_FEE, WAREHOUSING_FEE, 
    DELIVERY_FEE
    from IPO_DELIVERY_COST
    where DELIVERY_ID = #{deliveryId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select DELIVERY_ID, DELIVERY_METHOD, APPLY_DATE, INSURANCE, TRUSTEE_FEE, WAREHOUSING_FEE, 
    DELIVERY_FEE
    from IPO_DELIVERY_COST
  </select>
  <select id="selectByUserid" resultType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryCostExtended" parameterType="map">
  select * from 
  (select t.*,rownum TNO from
     (select b.*,a.delivery_date from ipo_deliveryorder a left join 
		ipo_delivery_cost b on a.deliveryorder_id = b.delivery_id where a.dealer_id = #{paging.dealerId,jdbcType=VARCHAR}
     and a.DELIVERYORDER_ID like concat (concat('%',#{paging.deliveryorderId,jdbcType=VARCHAR}),'%')) t
 	) c where c.TNO between #{beginnum} and  #{endnum}
  </select>
  
  <select id="countsByCost" parameterType="map" resultType="java.lang.Integer">
  select count(0) from ipo_deliveryorder a left join 
	ipo_delivery_cost b on a.deliveryorder_id = b.delivery_id where a.dealer_id = #{paging.dealerId,jdbcType=VARCHAR}
	and a.DELIVERYORDER_ID like concat (concat('%',#{paging.deliveryorderId,jdbcType=VARCHAR}),'%')
  </select>
</mapper>