<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoDistributionRuleMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoDistributionRule" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="COMMODITYID" property="commodityid" jdbcType="VARCHAR" />
    <result column="HOLD_RATIO" property="holdRatio" jdbcType="DECIMAL" />
    <result column="PURCHASE_RATIO" property="purchaseRatio" jdbcType="DECIMAL" />
    <result column="MAXQTY" property="maxqty" jdbcType="DECIMAL" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="DECIMAL" />
    <result column="HOLD_UNIT_VALUE" property="holdUnitValue" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.IpoDistributionRule" >
    insert into IPO_DISTRIBUTION_RULE (ID, COMMODITYID, HOLD_RATIO, 
      PURCHASE_RATIO, MAXQTY, CREATE_USER, 
      CREATE_DATE, UPDATE_USER, UPDATE_DATE, 
      DELETE_FLAG, HOLD_UNIT_VALUE)
    values (SEQ_IPO_DELIVERY.NEXTVAL, #{commodityid,jdbcType=VARCHAR}, #{holdRatio,jdbcType=DECIMAL}, 
      #{purchaseRatio,jdbcType=DECIMAL}, #{maxqty,jdbcType=DECIMAL}, #{createUser,jdbcType=VARCHAR}, 
      sysdate, #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}, 
      #{deleteFlag,jdbcType=DECIMAL}, #{holdUnitValue,jdbcType=DECIMAL})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, COMMODITYID, HOLD_RATIO, PURCHASE_RATIO, MAXQTY, CREATE_USER, CREATE_DATE, 
    UPDATE_USER, UPDATE_DATE, DELETE_FLAG, HOLD_UNIT_VALUE
    from IPO_DISTRIBUTION_RULE
  </select>
  <select id="selectCountByCommId" resultType="Integer" parameterType="String">
  	select count(0) from IPO_DISTRIBUTION_RULE 
  	where COMMODITYID=#{commodityid,jdbcType=VARCHAR}
  	and DELETE_FLAG=0
  </select>
  <select id="selectInfoByPages" resultMap="BaseResultMap" parameterType="com.yrdce.ipo.modules.sys.entity.IpoDistributionRule">
  	select a.* from
  	(select s.*,rownum TNO from IPO_DISTRIBUTION_RULE s
  	where 1=1
  	<if test="dist.commodityid!=null and dist.commodityid!=''">
  	and COMMODITYID=#{dist.commodityid}
  	</if>
  	order by s.ID)a
  	where a.TNO between  #{beginnum} and  #{endnum}
  </select>
  <select id="selectCounts"  resultType="java.lang.Integer" parameterType="com.yrdce.ipo.modules.sys.entity.IpoDistributionRule">
  	select count(0) from IPO_DISTRIBUTION_RULE s
  	where 1=1
  	<if test="dist.commodityid!=null and dist.commodityid!=''">
  	and COMMODITYID=#{dist.commodityid}
  	</if>
  </select>
  <select id="selectInfoByCommId" resultMap="BaseResultMap" parameterType="String">
  	select * from IPO_DISTRIBUTION_RULE 
  	where COMMODITYID=#{commodityid,jdbcType=VARCHAR}
  	and DELETE_FLAG=0
  </select>
  <update id="updateInfoByCommId" parameterType="com.yrdce.ipo.modules.sys.entity.IpoDistributionRule"> 
  	update IPO_DISTRIBUTION_RULE 
  	set
  	HOLD_RATIO=#{holdRatio,jdbcType=DECIMAL},
  	PURCHASE_RATIO=#{purchaseRatio,jdbcType=DECIMAL},
  	MAXQTY=#{maxqty,jdbcType=DECIMAL},
  	UPDATE_USER=#{updateUser,jdbcType=VARCHAR},
  	UPDATE_DATE=sysdate
  	where COMMODITYID=#{commodityid,jdbcType=VARCHAR}
  	and DELETE_FLAG=0
  </update>
  <update id="deleteInfoByCommid" parameterType="String">
  	update IPO_DISTRIBUTION_RULE
  	set
  	DELETE_FLAG=1,
  	UPDATE_DATE=sysdate,
  	UPDATE_USER=#{userId,jdbcType=VARCHAR}
  	where COMMODITYID=#{commodityid,jdbcType=VARCHAR}
  	and DELETE_FLAG=0
  </update>
</mapper>