<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoDeliveryPropMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoDeliveryProp" >
    <result column="DELIVERYPROPID" property="deliverypropid" jdbcType="DECIMAL" />
    <result column="COMMODITYID" property="commodityid" jdbcType="VARCHAR" />
    <result column="PROPERTYID" property="propertyid" jdbcType="DECIMAL" />
    <result column="SORTNO" property="sortno" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="MPResultMap" type="com.yrdce.ipo.modules.sys.entity.MProperty" >
    <result column="PROPERTYID" property="propertyid" jdbcType="DECIMAL" />
    <result column="CATEGORYID" property="categoryid" jdbcType="DECIMAL" />
    <result column="PROPERTYNAME" property="propertyname" jdbcType="VARCHAR" />
    <result column="PROPERTYVALUE" property="propertyvalue" jdbcType="VARCHAR" />
    <result column="SORTNO" property="sortno" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryProp" >
  	 <selectKey resultType="Long" order="BEFORE" keyProperty="deliverypropid">

	SELECT SEQ_IPO_DELIVERT_PROP.NEXTVAL FROM dual

	</selectKey>
    insert into IPO_DELIVERY_PROP (DELIVERYPROPID, COMMODITYID, PROPERTYID, 
      SORTNO)
    values (#{deliverypropid,jdbcType=DECIMAL}, #{commodityid,jdbcType=VARCHAR}, #{propertyid,jdbcType=DECIMAL}, 
      #{sortno,jdbcType=DECIMAL})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select DELIVERYPROPID, COMMODITYID, PROPERTYID, SORTNO
    from IPO_DELIVERY_PROP
  </select>
  <delete id="deleteByCommodityId" parameterType="java.lang.String" >
    delete from IPO_DELIVERY_PROP
    where COMMODITYID = #{commId,jdbcType=VARCHAR}
  </delete>
  
  <select id="selectCategoryProps" resultMap="MPResultMap" parameterType="Long">
  SELECT P.PROPERTYID, P.PROPERTYNAME, P.CATEGORYID FROM M_PROPERTY P
   WHERE P.CATEGORYID = #{categoryId,jdbcType=DECIMAL}
  </select>
  <select id="selectPropValues" resultMap="MPResultMap" parameterType="map">
  SELECT T.*, B.PROPERTYVALUE, B.SORTNO FROM (SELECT P.PROPERTYID, P.PROPERTYNAME, P.CATEGORYID FROM M_PROPERTY P  
  WHERE P.CATEGORYID = #{categoryId,jdbcType=DECIMAL} ) T
  LEFT JOIN M_BREEDPROPS B ON T.PROPERTYID = B.PROPERTYID WHERE B.BREEDID = #{breedId,jdbcType=DECIMAL} ORDER BY T.PROPERTYID
  </select>
</mapper>