<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoDeliveryorderMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoDeliveryorder" >
    <id column="DELIVERYORDER_ID" property="deliveryorderId" jdbcType="VARCHAR" />
    <result column="COMMODITY_ID" property="commodityId" jdbcType="VARCHAR" />
    <result column="COMMODITY_NAME" property="commodityName" jdbcType="VARCHAR" />
    <result column="DEALER_ID" property="dealerId" jdbcType="VARCHAR" />
    <result column="DEALER_NAME" property="dealerName" jdbcType="VARCHAR" />
    <result column="WAREHOUSE_ID" property="warehouseId" jdbcType="VARCHAR" />
    <result column="WAREHOUSE_NAME" property="warehouseName" jdbcType="VARCHAR" />
    <result column="DELIVERY_QUATITY" property="deliveryQuatity" jdbcType="DECIMAL" />
    <result column="DELIVERY_COUNTS" property="deliveryCounts" jdbcType="DECIMAL" />
    <result column="DELIVERY_METHOD" property="deliveryMethod" jdbcType="VARCHAR" />
    <result column="METHOD_ID" property="methodId" jdbcType="VARCHAR" />
    <result column="UNIT" property="unit" jdbcType="VARCHAR" />
    <result column="DELIVERY_DATE" property="deliveryDate" jdbcType="DATE" />
    <result column="APPLY_DATE" property="applyDate" jdbcType="DATE" />
    <result column="APPROVAL_STATUS" property="approvalStatus" jdbcType="DECIMAL" />
    <result column="APPROVERS" property="approvers" jdbcType="VARCHAR" />
    <result column="APPROVE_DATE" property="approveDate" jdbcType="DATE" />
    <result column="CANCELER" property="canceler" jdbcType="VARCHAR" />
    <result column="CANCEL_DATE" property="cancelDate" jdbcType="DATE" />
    <result column="POSITION" property="position" jdbcType="DECIMAL" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
    <result column="IDCARD_NUM" property="idcardNum" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="COST" property="cost" jdbcType="DECIMAL" />
    <result column="RECEIVER" property="receiver" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
  </resultMap>
   <sql id="Base_Column_List" >
      DELIVERYORDER_ID, COMMODITY_ID, COMMODITY_NAME, 
      DEALER_ID, DEALER_NAME, WAREHOUSE_ID, 
      WAREHOUSE_NAME, DELIVERY_QUATITY, DELIVERY_COUNTS, 
      DELIVERY_METHOD, METHOD_ID, UNIT, 
      DELIVERY_DATE, APPLY_DATE, APPROVAL_STATUS, 
      APPROVERS, APPROVE_DATE, CANCELER, 
      CANCEL_DATE,POSITION, REMARKS
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from IPO_DELIVERYORDER
    where DELIVERYORDER_ID = #{deliveryorderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryorder" >
    insert into IPO_DELIVERYORDER (DELIVERYORDER_ID, COMMODITY_ID, COMMODITY_NAME, 
      DEALER_ID, DEALER_NAME, WAREHOUSE_ID, 
      WAREHOUSE_NAME, DELIVERY_QUATITY, DELIVERY_COUNTS, 
      DELIVERY_METHOD, METHOD_ID, UNIT, 
      DELIVERY_DATE, APPLY_DATE, APPROVAL_STATUS, 
      APPROVERS, APPROVE_DATE, CANCELER, 
      CANCEL_DATE, POSITION, REMARKS
      )
    values (#{deliveryorderId,jdbcType=VARCHAR}, #{commodityId,jdbcType=VARCHAR}, #{commodityName,jdbcType=VARCHAR}, 
      #{dealerId,jdbcType=VARCHAR}, #{dealerName,jdbcType=VARCHAR}, #{warehouseId,jdbcType=VARCHAR}, 
      #{warehouseName,jdbcType=VARCHAR}, #{deliveryQuatity,jdbcType=DECIMAL}, #{deliveryCounts,jdbcType=DECIMAL}, 
      #{deliveryMethod,jdbcType=VARCHAR}, #{methodId,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{deliveryDate,jdbcType=DATE}, #{applyDate,jdbcType=DATE}, #{approvalStatus,jdbcType=DECIMAL}, 
      #{approvers,jdbcType=VARCHAR}, #{approveDate,jdbcType=DATE}, #{canceler,jdbcType=VARCHAR}, 
      #{cancelDate,jdbcType=DATE}, #{position,jdbcType=DECIMAL}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryorder" >
    update IPO_DELIVERYORDER
    set COMMODITY_ID = #{commodityId,jdbcType=VARCHAR},
      COMMODITY_NAME = #{commodityName,jdbcType=VARCHAR},
      DEALER_ID = #{dealerId,jdbcType=VARCHAR},
      DEALER_NAME = #{dealerName,jdbcType=VARCHAR},
      WAREHOUSE_ID = #{warehouseId,jdbcType=VARCHAR},
      WAREHOUSE_NAME = #{warehouseName,jdbcType=VARCHAR},
      DELIVERY_QUATITY = #{deliveryQuatity,jdbcType=DECIMAL},
      DELIVERY_COUNTS = #{deliveryCounts,jdbcType=DECIMAL},
      DELIVERY_METHOD = #{deliveryMethod,jdbcType=VARCHAR},
      METHOD_ID = #{methodId,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR},
      DELIVERY_DATE = #{deliveryDate,jdbcType=DATE},
      APPLY_DATE = #{applyDate,jdbcType=DATE},
      APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL},
      APPROVERS = #{approvers,jdbcType=VARCHAR},
      APPROVE_DATE = #{approveDate,jdbcType=DATE},
      CANCELER = #{canceler,jdbcType=VARCHAR},
      CANCEL_DATE = #{cancelDate,jdbcType=DATE},
      POSITION = #{position,jdbcType=DECIMAL},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where DELIVERYORDER_ID = #{deliveryorderId,jdbcType=VARCHAR}
  </update>
   <update id="cancelDeorder" parameterType="map" >
    update IPO_DELIVERYORDER  set APPROVAL_STATUS = 7,CANCELER= #{canceller,jdbcType=VARCHAR},CANCEL_DATE=trunc(sysdate)  where DELIVERYORDER_ID = #{deorderId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select DELIVERYORDER_ID, COMMODITY_ID, COMMODITY_NAME, DEALER_ID, DEALER_NAME, WAREHOUSE_ID, 
    WAREHOUSE_NAME, DELIVERY_QUATITY, DELIVERY_COUNTS, DELIVERY_METHOD, METHOD_ID, UNIT, 
    DELIVERY_DATE, APPLY_DATE, APPROVAL_STATUS, APPROVERS, APPROVE_DATE, CANCELER, CANCEL_DATE, 
    POSITION, REMARKS
    from IPO_DELIVERYORDER
    where DELIVERYORDER_ID = #{deliveryorderId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select DELIVERYORDER_ID, COMMODITY_ID, COMMODITY_NAME, DEALER_ID, DEALER_NAME, WAREHOUSE_ID, 
    WAREHOUSE_NAME, DELIVERY_QUATITY, DELIVERY_COUNTS, DELIVERY_METHOD, METHOD_ID, UNIT, 
    DELIVERY_DATE, APPLY_DATE, APPROVAL_STATUS, APPROVERS, APPROVE_DATE, CANCELER, CANCEL_DATE, 
    POSITION, REMARKS
    from IPO_DELIVERYORDER
  </select>
  
  
  <select id="findAllDeliOrdersByPage" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List" />
    from (select t.*,rownum TNO from IPO_DELIVERYORDER t 
    order by t.DELIVERYORDER_ID) a where a.TNO between  #{beginnum} and  #{endnum}
  </select>
   <select id="getTotalNum" resultType="java.lang.Integer">
   	 select count(*) from IPO_DELIVERYORDER 
  </select>
  
   <select id="queryAllDeliOrdersByPage" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List" />
    from (select t.*,rownum TNO from IPO_DELIVERYORDER t where 1=1
      <if test="record.deliveryorderId != null" > 
       and t.DELIVERYORDER_ID like concat (#{record.deliveryorderId,jdbcType=VARCHAR},'%')
      </if>
       <if test="record.applyDate != null" >
       and t.APPLY_DATE = #{record.applyDate,jdbcType=DATE}
      </if>
       <if test="record.approvalStatus != null" >
       and t.APPROVAL_STATUS = #{record.approvalStatus,jdbcType=DECIMAL}
      </if>
      <if test="record.dealerId != null" >
       and t.DEALER_ID like concat (#{record.dealerId,jdbcType=VARCHAR},'%')
      </if>
    order by t.DELIVERYORDER_ID) a where a.TNO between  #{beginnum} and  #{endnum}
  </select>
   <select id="getQueryNum" resultType="java.lang.Integer"  parameterType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryorder" >
   	 select count(*) from IPO_DELIVERYORDER t where 1=1
   	    <if test="record.deliveryorderId != null" >
       and t.DELIVERYORDER_ID like concat (#{record.deliveryorderId,jdbcType=VARCHAR},'%')
      </if>
       <if test="record.applyDate != null" >
       and t.APPLY_DATE = #{record.applyDate,jdbcType=DATE}
      </if>
       <if test="record.approvalStatus != null" >
       and t.APPROVAL_STATUS = #{record.approvalStatus,jdbcType=DECIMAL}
      </if>
      <if test="record.dealerId != null" >
       and t.DEALER_ID like concat (#{record.dealerId,jdbcType=VARCHAR},'%')
      </if>
  </select>
  
  
   <select id="queryCancelDeliOrdersByPage" resultMap="BaseResultMap" parameterType="map">
    SELECT T.* FROM (SELECT A.*,ROWNUM TNO FROM (SELECT <include refid="Base_Column_List" />  FROM IPO_DELIVERYORDER T WHERE T.DELIVERY_METHOD = '自提' AND T.APPROVAL_STATUS IN  (1,2,3,4)  
    UNION  SELECT <include refid="Base_Column_List" />  FROM IPO_DELIVERYORDER T WHERE T.DELIVERY_METHOD = '在线配送' AND T.APPROVAL_STATUS IN  (1,2,3,4,5,6,7,8) ) A WHERE 1=1  
      <if test="record.deliveryorderId != null" >
       and A.DELIVERYORDER_ID like concat (#{record.deliveryorderId,jdbcType=VARCHAR},'%')
      </if>
       <if test="record.applyDate != null" >
       and A.APPLY_DATE = #{record.applyDate,jdbcType=DATE}
      </if>
      <if test="record.dealerId != null" >
       and A.DEALER_ID like concat (#{record.dealerId,jdbcType=VARCHAR},'%')
      </if>
         ) T WHERE T.TNO BETWEEN #{beginnum} AND  #{endnum}
  </select>
   <select id="getQueryCancelNum" resultType="java.lang.Integer"  parameterType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryorder" >
   	 SELECT COUNT(*) FROM (SELECT <include refid="Base_Column_List" />  FROM IPO_DELIVERYORDER T WHERE T.DELIVERY_METHOD = '自提' AND T.APPROVAL_STATUS IN  (1,2,3,4)  
     UNION  SELECT <include refid="Base_Column_List" />   FROM IPO_DELIVERYORDER T WHERE T.DELIVERY_METHOD = '在线配送' AND T.APPROVAL_STATUS IN  (1,2,3,4,5,6,7,8) ) A WHERE 1=1 
   	    <if test="record.deliveryorderId != null" >
       and A.DELIVERYORDER_ID like concat (#{record.deliveryorderId,jdbcType=VARCHAR},'%')
      </if>
       <if test="record.applyDate != null" >
       and A.APPLY_DATE = #{record.applyDate,jdbcType=DATE}
      </if>
      <if test="record.dealerId != null" >
       and A.DEALER_ID like concat (#{record.dealerId,jdbcType=VARCHAR},'%')
      </if>
  </select>
  
  
  
  <select id="approveDeliOrdersByPage" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List" />
    from (select t.*,rownum TNO from IPO_DELIVERYORDER t where t.APPROVAL_STATUS = 1 order by t.DELIVERYORDER_ID ) a where a.TNO between  #{beginnum} and  #{endnum}
  </select>
   <select id="getApproveNum" resultType="java.lang.Integer" >
  	select count(*) from IPO_DELIVERYORDER where APPROVAL_STATUS = 1
  </select>
  
   <select id="cancelDeliOrdersByPage" resultMap="BaseResultMap" parameterType="map">
    select <include refid="Base_Column_List" />
    from (select t.*,rownum TNO from IPO_DELIVERYORDER t where t.APPROVAL_STATUS in (1,2,3) order by t.DELIVERYORDER_ID ) a where a.TNO between  #{beginnum} and  #{endnum}
  </select>
   <select id="getCancelNum" resultType="java.lang.Integer" >
  	select count(*) from IPO_DELIVERYORDER where APPROVAL_STATUS in (1,2,3,4,5)
  </select>

   <select id="sequence" resultType="java.lang.Integer">
	SELECT SEQ_IPO_DELIVERYORDER.NEXTVAL FROM dual
   </select>
   
  <select id="selectByPickup" parameterType="map" resultType="com.yrdce.ipo.modules.sys.entity.IpoPickupExtended">
  	select * from (
		select t.*, rownum TNO from (
          select p.*, d.*
                  from IPO_PICKUP p
                  left join IPO_DELIVERYORDER d
                    on p.pickup_id = d.method_id
                 where d.dealer_id = #{paging.dealerId,jdbcType=VARCHAR}
                   and d.DELIVERYORDER_ID like concat (concat('%',#{paging.deliveryorderId,jdbcType=VARCHAR}),'%')
                   and DELIVERY_METHOD = '自提'
                   and d.approval_status = 2
                   ) t) c
 	where c.TNO between #{beginnum} and #{endnum}
 	order by APPLY_DATE
  </select>
  
  <select id="selectByExpress" parameterType="map" resultType="com.yrdce.ipo.modules.sys.entity.IpoExpressExtended">
  	select * from (
	select t.*,rownum TNO from (
 	select d.*,e.* from IPO_DELIVERYORDER d left join ipo_express e on  d.method_id = e.express_id
  	where d.dealer_id = #{paging.dealerId,jdbcType=VARCHAR} and d.DELIVERYORDER_ID like concat (concat('%',#{paging.deliveryorderId,jdbcType=VARCHAR}),'%')
  	and d.DELIVERY_METHOD = '在线配送'
  	) t ) c where c.TNO between #{beginnum} and  #{endnum} order by APPLY_DATE
  </select>
  
  <select id="selectByPickUp" parameterType="map" resultType="com.yrdce.ipo.modules.sys.entity.IpoPickupExtended">
  	select p.*,d.*,w.warehousename from IPO_PICKUP p left join IPO_DELIVERYORDER d on p.pickup_id = d.method_id 
  	left join bi_warehouse w on d.warehouse_id = w.warehouseid 
	where d.method_id = #{methodId,jdbcType=VARCHAR} and DELIVERY_METHOD = '自提'
  </select>
  
  <update id="updateByStatus" parameterType="map">
  	update IPO_DELIVERYORDER
    set APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL}
    where DELIVERYORDER_ID = #{deliveryorderId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByUserid" resultMap="BaseResultMap" parameterType="map">
  select * from 
	(select t.*,rownum TNO from
 		(select <include refid="Base_Column_List" /> from IPO_DELIVERYORDER d 
 		where d.DEALER_ID = #{paging.dealerId,jdbcType=VARCHAR}
 		and d.DELIVERYORDER_ID like concat (concat('%',#{paging.deliveryorderId,jdbcType=VARCHAR}),'%')) t
 	) c where c.TNO between #{beginnum} and  #{endnum} order by APPLY_DATE
  </select>
  
  <select id="selectCounts" parameterType="map" resultType="java.lang.Integer">
  	select count(0) from IPO_DELIVERYORDER d where d.dealer_id = #{paging.dealerId,jdbcType=VARCHAR} 
  	<if test="deliveryMethod != null">
  	   and DELIVERY_METHOD = #{deliveryMethod,jdbcType=VARCHAR}
  	</if>
       and d.DELIVERYORDER_ID like concat (concat('%',#{paging.deliveryorderId,jdbcType=VARCHAR}),'%')
  </select>
  
  <select id="allCounts" resultType="java.lang.Integer" parameterType="java.lang.String">
  select count(0) from IPO_DELIVERYORDER d where d.dealer_id = #{paging.dealerId,jdbcType=VARCHAR} and d.DELIVERYORDER_ID like concat (concat('%',#{paging.deliveryorderId,jdbcType=VARCHAR}),'%')
  </select>
  
  <select id="getPickupDeliveryInfo" resultType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryorder" parameterType="map">
  	select d.*,p.IDCARD_NUM from IPO_DELIVERYORDER d 
  	inner join (select * from IPO_PICKUP where PICKUP_PASSWORD = #{delivery.pickupPassword,jdbcType=VARCHAR})p 
  	on d.METHOD_ID = p.PICKUP_ID  
  	where d.DELIVERYORDER_ID = #{delivery.deliveryorderId,jdbcType=VARCHAR}
  	and d.DELIVERY_METHOD='自提'
  	 <if test="delivery.warehouseId != null" >
  	and d.WAREHOUSE_ID = #{delivery.warehouseId,jdbcType=VARCHAR}
  	 </if>
  </select>
  
   <select id="getExpressDeliveryInfo" resultType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryorder" parameterType="map">
  	select d.*,t.ADDRESS,t.COST,t.RECEIVER,t.TEL
  	from IPO_DELIVERYORDER d 
  	left join ipo_express t 
  	on d.METHOD_ID = t.EXPRESS_ID  
  	where d.DELIVERYORDER_ID = #{delivery.deliveryorderId,jdbcType=VARCHAR}
  	and d.DELIVERY_METHOD='在线配送'
  	 <if test="delivery.warehouseId != null" >
  	and d.WAREHOUSE_ID = #{delivery.warehouseId,jdbcType=VARCHAR}
  		 </if>
  </select>
  
  <select id="selectByFrim" resultType="java.lang.String" parameterType="java.lang.String">
  	select name from m_firm where firmid =#{firmid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectRevocation" parameterType="map" resultType="com.yrdce.ipo.modules.sys.entity.IpoDeliveryorder">
 	select *
  	from (select t.*, rownum TNO from (
  	select d.DELIVERYORDER_ID, d.commodity_id,d.commodity_name, d.warehouse_id,
          d.position,d.delivery_quatity,d.unit, d.apply_date,d.delivery_date,
            d.approval_status,d.delivery_method,d.warehouse_name
    from ipo_deliveryorder d where d.dealer_id = #{paging.dealerId,jdbcType=VARCHAR}
    and d.DELIVERYORDER_ID like concat (concat('%',#{paging.deliveryorderId,jdbcType=VARCHAR}),'%')
 	) t) c
 	where c.TNO between #{beginnum} and #{endnum}
 	order by APPLY_DATE
  </select>
  <update id="updateStatus" parameterType="map">
  	update IPO_DELIVERYORDER
    set APPROVAL_STATUS = #{approvalStatus,jdbcType=DECIMAL}
    where DELIVERYORDER_ID = #{deliveryorderId,jdbcType=VARCHAR}
  </update>
  
  <select id="selectByMethodAndId" parameterType="map" resultMap="BaseResultMap">
  select <include refid="Base_Column_List" /> from IPO_DELIVERYORDER deorder 
  	where deorder.DELIVERY_METHOD = #{deliveryMethod,jdbcType=VARCHAR}
  	and deorder.METHOD_ID = #{methodId,jdbcType=VARCHAR}
  </select>
</mapper>