<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoExpressMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoExpress" >
    <id column="EXPRESS_ID" property="expressId" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="COST" property="cost" jdbcType="DECIMAL" />
    <result column="RECEIVER" property="receiver" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from IPO_EXPRESS
    where EXPRESS_ID = #{expressId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="expressId" parameterType="com.yrdce.ipo.modules.sys.entity.IpoExpress" >
    <selectKey resultType="String" order="BEFORE" keyProperty="expressId">
	SELECT to_char(SEQ_IPO_EXPRESS.NEXTVAL) FROM dual
	</selectKey>
    insert into IPO_EXPRESS (EXPRESS_ID, ADDRESS, COST, 
       RECEIVER, TEL
      )
    values (#{expressId,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{cost,jdbcType=DECIMAL}, 
      #{receiver,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.IpoExpress" >
    update IPO_EXPRESS
    set ADDRESS = #{address,jdbcType=VARCHAR},
      COST = #{cost,jdbcType=DECIMAL},
      RECEIVER = #{receiver,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR}
    where EXPRESS_ID = #{expressId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select EXPRESS_ID, ADDRESS, COST, RECEIVER, TEL
    from IPO_EXPRESS
    where EXPRESS_ID = #{expressId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select EXPRESS_ID, ADDRESS, COST, RECEIVER, TEL
    from IPO_EXPRESS
  </select>
  <select id="selectExpressAndCost" parameterType="java.lang.String" resultType="com.yrdce.ipo.modules.sys.entity.IpoExpress">
  	select p.*,t.* from ipo_deliveryorder d left join ipo_delivery_cost p on d.DELIVERYORDER_ID = p.delivery_id 
	left join IPO_EXPRESS t on t.EXPRESS_ID = d.method_id where d.deliveryorderId = #{deliveryorderId,jdbcType=VARCHAR} 
	and d.method_id = #{methodid,jdbcType=VARCHAR}
  </select>
  
</mapper>
