<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoFirmrewarddeailMapper">
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoFirmrewarddeail">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="FIRMID" jdbcType="VARCHAR" property="firmid" />
    <result column="COMMODITYID" jdbcType="VARCHAR" property="commodityid" />
    <result column="CLEARDATE" jdbcType="DATE" property="cleardate" />
    <result column="BROKERID" jdbcType="VARCHAR" property="brokerid" />
    <result column="BROKERNAME" jdbcType="VARCHAR" property="brokername" />
    <result column="FIRSTPAY" jdbcType="DECIMAL" property="firstpay" />
    <result column="SECONDPAY" jdbcType="DECIMAL" property="secondpay" />
    <result column="REWARD" jdbcType="DECIMAL" property="reward" />
    <result column="MARKETREWARD" jdbcType="DECIMAL" property="marketreward" />
    <result column="BROKEREACHDIVIDE" jdbcType="DECIMAL" property="brokereachdivide" />
    <result column="COMMODITYNAME" jdbcType="VARCHAR" property="commodityname" />
    <result column="BREEDID" jdbcType="DECIMAL" property="breedid" />
    <result column="BREEDNAME" jdbcType="VARCHAR" property="breedname" />
    <result column="BUSINESS_TYPE" jdbcType="VARCHAR" property="businessType" />
    <result column="CHARGE_TYPE" jdbcType="VARCHAR" property="chargeType" />
    <result column="TRADEMONEY" jdbcType="DECIMAL" property="trademoney" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from IPO_FIRMREWARDDEAIL
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.IpoFirmrewarddeail">
    insert into IPO_FIRMREWARDDEAIL (ID, FIRMID, COMMODITYID, 
      CLEARDATE, BROKERID, BROKERNAME, 
      FIRSTPAY, SECONDPAY, REWARD, 
      MARKETREWARD, BROKEREACHDIVIDE, COMMODITYNAME, 
      BREEDID, BREEDNAME, BUSINESS_TYPE, TRADEMONEY,
      CHARGE_TYPE,ORDER_ID)
    values (#{id,jdbcType=DECIMAL}, #{firmid,jdbcType=VARCHAR}, #{commodityid,jdbcType=VARCHAR}, 
      #{cleardate,jdbcType=DATE}, #{brokerid,jdbcType=VARCHAR}, #{brokername,jdbcType=VARCHAR}, 
      #{firstpay,jdbcType=DECIMAL}, #{secondpay,jdbcType=DECIMAL}, #{reward,jdbcType=DECIMAL}, 
      #{marketreward,jdbcType=DECIMAL}, #{brokereachdivide,jdbcType=DECIMAL}, #{commodityname,jdbcType=VARCHAR}, 
      #{breedid,jdbcType=DECIMAL}, #{breedname,jdbcType=VARCHAR}, #{businessType,jdbcType=VARCHAR}, 
      #{trademoney,jdbcType=DECIMAL}, #{chargeType,jdbcType=VARCHAR},#{orderId,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.IpoFirmrewarddeail">
    update IPO_FIRMREWARDDEAIL
    set FIRMID = #{firmid,jdbcType=VARCHAR},
      COMMODITYID = #{commodityid,jdbcType=VARCHAR},
      CLEARDATE = #{cleardate,jdbcType=DATE},
      BROKERID = #{brokerid,jdbcType=VARCHAR},
      BROKERNAME = #{brokername,jdbcType=VARCHAR},
      FIRSTPAY = #{firstpay,jdbcType=DECIMAL},
      SECONDPAY = #{secondpay,jdbcType=DECIMAL},
      REWARD = #{reward,jdbcType=DECIMAL},
      MARKETREWARD = #{marketreward,jdbcType=DECIMAL},
      BROKEREACHDIVIDE = #{brokereachdivide,jdbcType=DECIMAL},
      COMMODITYNAME = #{commodityname,jdbcType=VARCHAR},
      BREEDID = #{breedid,jdbcType=DECIMAL},
      BREEDNAME = #{breedname,jdbcType=VARCHAR},
      BUSINESS_TYPE = #{businessType,jdbcType=VARCHAR},
      CHARGE_TYPE = #{chargeType,jdbcType=VARCHAR},
      TRADEMONEY = #{trademoney,jdbcType=DECIMAL},
      ORDER_ID = #{orderId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
    select ID, FIRMID, COMMODITYID, CLEARDATE, BROKERID, BROKERNAME, FIRSTPAY, SECONDPAY, 
    REWARD, MARKETREWARD, BROKEREACHDIVIDE, COMMODITYNAME, BREEDID, BREEDNAME, BUSINESS_TYPE, 
    CHARGE_TYPE,TRADEMONEY,ORDER_ID
    from IPO_FIRMREWARDDEAIL
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select ID, FIRMID, COMMODITYID, CLEARDATE, BROKERID, BROKERNAME, FIRSTPAY, SECONDPAY, 
    REWARD, MARKETREWARD, BROKEREACHDIVIDE, COMMODITYNAME, BREEDID, BREEDNAME, BUSINESS_TYPE, 
    CHARGE_TYPE,TRADEMONEY,ORDER_ID
    from IPO_FIRMREWARDDEAIL
  </select>

  <select id="findByFirmidAndType" resultMap="BaseResultMap" parameterType="map">
  	select  ID, FIRMID, COMMODITYID, CLEARDATE, BROKERID, BROKERNAME, FIRSTPAY, SECONDPAY, 
    REWARD, MARKETREWARD, BROKEREACHDIVIDE, COMMODITYNAME, BREEDID, BREEDNAME, BUSINESS_TYPE, 
    CHARGE_TYPE,TRADEMONEY,ORDER_ID from ipo_firmrewarddeail t where t.firmid = #{firmid,jdbcType=VARCHAR} 
  	and t.charge_type = #{chargeType,jdbcType=VARCHAR} 
  	and t.business_type = #{businessType,jdbcType=VARCHAR}
  	and to_char(t.cleardate, 'yyyy-mm-dd') between #{startdate,jdbcType=VARCHAR} 
  	and #{enddate,jdbcType=VARCHAR} 
  </select>
  
  <select id="brokerRewardSettle" statementType="CALLABLE" parameterType="java.util.Map">
            {#{returnCode,mode=OUT,jdbcType=INTEGER} = call FN_ipo_BrokerReward()}
  </select>
  
  <select id="findDisAndDea" parameterType="map" resultType="com.yrdce.ipo.modules.sys.entity.IpoFirmrewarddeail">
  select * from IPO_FIRMREWARDDEAIL t where 
	to_char(t.cleardate,'yyyy-mm-dd') = #{date,jdbcType=VARCHAR} and t.firmid = #{firmid,jdbcType=VARCHAR}
	and t.business_type = #{business,jdbcType=VARCHAR} and t.charge_type = #{charge,jdbcType=VARCHAR}
  </select>
</mapper>