<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoNumberofrecordsMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoNumberofrecords" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="COMMODITYID" property="commodityid" jdbcType="VARCHAR" />
    <result column="COUNTS" property="counts" jdbcType="DECIMAL" />
    <result column="NOWTIME" property="nowtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, COMMODITYID, COUNTS, NOWTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yrdce.ipo.modules.sys.entity.IpoNumberofrecordsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IPO_NUMBEROFRECORDS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from IPO_NUMBEROFRECORDS
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from IPO_NUMBEROFRECORDS
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yrdce.ipo.modules.sys.entity.IpoNumberofrecordsExample" >
    delete from IPO_NUMBEROFRECORDS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yrdce.ipo.modules.sys.entity.IpoNumberofrecords" >
    <selectKey resultType="INTEGER" order="BEFORE" keyProperty="id">
	SELECT SEQ_IPO_NUMBEROFRECORDS.NEXTVAL FROM dual
	</selectKey>
    insert into IPO_NUMBEROFRECORDS (ID, COMMODITYID, COUNTS, 
      NOWTIME)
    values (#{id,jdbcType=INTEGER}, #{commodityid,jdbcType=VARCHAR}, #{counts,jdbcType=DECIMAL}, 
      #{nowtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yrdce.ipo.modules.sys.entity.IpoNumberofrecords" >
    insert into IPO_NUMBEROFRECORDS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="commodityid != null" >
        COMMODITYID,
      </if>
      <if test="counts != null" >
        COUNTS,
      </if>
      <if test="nowtime != null" >
        NOWTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commodityid != null" >
        #{commodityid,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        #{counts,jdbcType=DECIMAL},
      </if>
      <if test="nowtime != null" >
        #{nowtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yrdce.ipo.modules.sys.entity.IpoNumberofrecordsExample" resultType="java.lang.Integer" >
    select count(*) from IPO_NUMBEROFRECORDS
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update IPO_NUMBEROFRECORDS
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.commodityid != null" >
        COMMODITYID = #{record.commodityid,jdbcType=VARCHAR},
      </if>
      <if test="record.counts != null" >
        COUNTS = #{record.counts,jdbcType=DECIMAL},
      </if>
      <if test="record.nowtime != null" >
        NOWTIME = #{record.nowtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update IPO_NUMBEROFRECORDS
    set ID = #{record.id,jdbcType=INTEGER},
      COMMODITYID = #{record.commodityid,jdbcType=VARCHAR},
      COUNTS = #{record.counts,jdbcType=DECIMAL},
      NOWTIME = #{record.nowtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yrdce.ipo.modules.sys.entity.IpoNumberofrecords" >
    update IPO_NUMBEROFRECORDS
    <set >
      <if test="commodityid != null" >
        COMMODITYID = #{commodityid,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        COUNTS = #{counts,jdbcType=DECIMAL},
      </if>
      <if test="nowtime != null" >
        NOWTIME = #{nowtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.IpoNumberofrecords" >
    update IPO_NUMBEROFRECORDS
    set COMMODITYID = #{commodityid,jdbcType=VARCHAR},
      COUNTS = #{counts,jdbcType=DECIMAL},
      NOWTIME = #{nowtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="update" parameterType="map" >
  	UPDATE IPO_NUMBEROFRECORDS SET COUNTS = #{counts,jdbcType=DECIMAL} WHERE COMMODITYID = #{commodityid,jdbcType=VARCHAR}
  </update>
  
  <select id="selectbysid" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select counts from IPO_NUMBEROFRECORDS where COMMODITYID = #{commodityid}
  </select>
  
  <insert id="insertAll">
  	insert into IPO_NUMBEROFRECORDS_H (ID,COMMODITYID,COUNTS,NOWTIME)
  	select SEQ_IPO_NUMBEROFRECORDS_H.NEXTVAL,COMMODITYID,COUNTS,NOWTIME from IPO_NUMBEROFRECORDS
  </insert>
  
  <delete id="deleteAll">
  	truncate table IPO_NUMBEROFRECORDS
  </delete>
  
  <select id="selectByAll" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select count(*) from IPO_NUMBEROFRECORDS
  </select>
</mapper>