<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoOrderMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoOrder" >
    <id column="ORDERID" property="orderid" jdbcType="VARCHAR" />
    <result column="USERID" property="userid" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="COMMODITYID" property="commodityid" jdbcType="VARCHAR" />
    <result column="COMMODITYNAME" property="commodityname" jdbcType="VARCHAR" />
    <result column="COUNTS" property="counts" jdbcType="INTEGER"/>
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="FROZENFUNDS" property="frozenfunds" jdbcType="DECIMAL" />
    <result column="FROZENST" property="frozenst" jdbcType="INTEGER"/>
    <result column="COMMODITY_ID" property="commodity_id" jdbcType="INTEGER"/>
    <result column="TRADEALGR" property="tradealgr" jdbcType="DECIMAL" />
    <result column="BUY" property="buy" jdbcType="DECIMAL" />
    <result column="FROZENCOUNTERFEE" property="frozencounterfee" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ORDERID, USERID, USERNAME, COMMODITYID, COMMODITYNAME, COUNTS, CREATETIME, FROZENFUNDS,FROZENST,COMMODITY_ID,
    TRADEALGR,BUY,FROZENCOUNTERFEE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yrdce.ipo.modules.sys.entity.IpoOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from IPO_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from IPO_ORDER
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from IPO_ORDER
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yrdce.ipo.modules.sys.entity.IpoOrderExample" >
    delete from IPO_ORDER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.IpoOrder" >
    insert into IPO_ORDER <include refid="Base_Column_List" />
    values (#{orderid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{commodityid,jdbcType=VARCHAR}, #{commodityname,jdbcType=VARCHAR}, #{counts,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{frozenfunds,jdbcType=DECIMAL},#{frozenst,jdbcType=INTEGER},
      #{commodity_id,jdbcType=INTEGER},#{TRADEALGR,jdbcType=DECIMAL},#{BUY,jdbcType=DECIMAL},#{FROZENCOUNTERFEE,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="orderid" parameterType="com.yrdce.ipo.modules.sys.entity.IpoOrder" >
    <selectKey resultType="INTEGER" order="BEFORE" keyProperty="orderid">

	SELECT SEQ_IPO_ORDER.NEXTVAL FROM dual

	</selectKey>
    insert into IPO_ORDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        ORDERID,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="commodityid != null" >
        COMMODITYID,
      </if>
      <if test="commodityname != null" >
        COMMODITYNAME,
      </if>
      <if test="counts != null" >
        COUNTS,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="frozenfunds != null" >
        FROZENFUNDS,
      </if>
      <if test="frozenst != null">
      	FROZENST,
      </if>
      <if test="commodity_id != null">
      	COMMODITY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="commodityid != null" >
        #{commodityid,jdbcType=VARCHAR},
      </if>
      <if test="commodityname != null" >
        #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        #{counts,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="frozenfunds != null" >
        #{frozenfunds,jdbcType=DECIMAL},
      </if>
      <if test="frozenst != null">
      	#{frozenst,jdbcType=INTEGER},
      </if>
      <if test="commodity_id != null">
      	#{commodity_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="java.lang.String" resultType="java.lang.Integer" >
    select count(*) from  IPO_ORDER where USERID = #{userid,jdbcType=VARCHAR} 
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update IPO_ORDER
    <set >
      <if test="record.orderid != null" >
        ORDERID = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        USERID = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null" >
        USERNAME = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityid != null" >
        COMMODITYID = #{record.commodityid,jdbcType=VARCHAR},
      </if>
      <if test="record.commodityname != null" >
        COMMODITYNAME = #{record.commodityname,jdbcType=VARCHAR},
      </if>
      <if test="record.counts != null" >
        COUNTS = #{record.counts,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.frozenfunds != null" >
        FROZENFUNDS = #{record.frozenfunds,jdbcType=DECIMAL},
      </if>
      <if test="record.frozenst !=null">
      	FROZENST = #{record.frozenst,jdbcType=INTEGER},
      </if>
      <if test="record.commodity_id != null">
      	COMMODITY_ID = #{record.commodity_id,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update IPO_ORDER
    set ORDERID = #{record.orderid,jdbcType=VARCHAR},
      USERID = #{record.userid,jdbcType=VARCHAR},
      USERNAME = #{record.username,jdbcType=VARCHAR},
      COMMODITYID = #{record.commodityid,jdbcType=VARCHAR},
      COMMODITYNAME = #{record.commodityname,jdbcType=VARCHAR},
      COUNTS = #{record.counts,jdbcType=INTEGER},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      FROZENFUNDS = #{record.frozenfunds,jdbcType=DECIMAL},
      FROZENST = #{record.frozenst,jdbcType=INTEGER},
      COMMODITY_ID = #{record.commodity_id,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yrdce.ipo.modules.sys.entity.IpoOrder" >
    update IPO_ORDER
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="commodityid != null" >
        COMMODITYID = #{commodityid,jdbcType=VARCHAR},
      </if>
      <if test="commodityname != null" >
        COMMODITYNAME = #{commodityname,jdbcType=VARCHAR},
      </if>
      <if test="counts != null" >
        COUNTS = #{counts,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="frozenfunds != null" >
        FROZENFUNDS = #{frozenfunds,jdbcType=DECIMAL},
      </if>
      <if test="frozenst != null">
      	FROZENST = #{frozenst,jdbcType=INTEGER},
      </if>
      <if test="commodity_id != null">
      	COMMODITY_ID = #{commodity_id,jdbcType=INTEGER},
      </if>
    </set>
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.IpoOrder" >
    update IPO_ORDER
    set USERID = #{userid,jdbcType=VARCHAR},
      USERNAME = #{username,jdbcType=VARCHAR},
      COMMODITYID = #{commodityid,jdbcType=VARCHAR},
      COMMODITYNAME = #{commodityname,jdbcType=VARCHAR},
      COUNTS = #{counts,jdbcType=INTEGER},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      FROZENFUNDS = #{frozenfunds,jdbcType=DECIMAL},
      FROZENST = #{frozenst,jdbcType=INTEGER},
      COMMODITY_ID = #{commodity_id.jdbcType=INTEGER}
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </update>
  
  <select id="bycommodityid" parameterType="java.lang.String" resultType="java.lang.Integer" >
  	select nvl(sum(counts),0) from ipo_order where commodityid = #{commodityid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByid" resultMap="BaseResultMap" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from IPO_ORDER
    where USERID = #{userid,jdbcType=VARCHAR}
    and COMMODITYID = #{commodityid,jdbcType=VARCHAR}
    </select>
    
    <select id="select" resultType="java.lang.String" parameterType="java.lang.String">
    	select distinct COMMODITYID from IPO_ORDER where COMMODITYID = #{commodityid,jdbcType=VARCHAR}
    </select>
    
   <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.String">
   	select 
   		<include refid="Base_Column_List" /> 
   	from IPO_ORDER where to_char(CREATETIME,'yyyy-MM-dd') = #{CREATETIME,jdbcType=VARCHAR} order by createtime
   </select>
   
   <insert id="insertAll">
 		insert into IPO_ORDER_H (ORDERID,USERID,USERNAME,COMMODITYID,COMMODITYNAME,COUNTS,CREATETIME,FROZENFUNDS)
 		select ORDERID,USERID,USERNAME,COMMODITYID,COMMODITYNAME,COUNTS,CREATETIME,FROZENFUNDS from IPO_ORDER
   </insert>
   
   <delete id="deleteAll">
   		truncate table IPO_ORDER
   </delete>
   
   <select id="selectbysid" parameterType="java.lang.String" resultType="java.lang.Integer">
   	select sum(COUNTS) from IPO_ORDER where COMMODITYID = #{COMMODITYID,jdbcType=VARCHAR}
   </select>
   
   <select id="selectByUserId" parameterType="map" resultMap="BaseResultMap">
   	select <include refid="Base_Column_List" />   
   	from (select t.*,rownum TNO from IPO_ORDER t where t.USERID  like concat (concat('%',#{userid,jdbcType=VARCHAR}),'%')) a where a.TNO between  #{beginnum} and  #{endnum}
   </select>
   
   <select id="selectByPage" parameterType="map" resultMap="BaseResultMap">
   	select <include refid="Base_Column_List" /> from (select t.*,rownum TNO from IPO_ORDER t ) a where a.TNO between  #{beginnum} and  #{endnum}
   </select>
   
   <select id="selectByCounts" resultType="java.lang.Integer" parameterType="java.lang.String" >
   	select count(0) from IPO_ORDER where USERID like concat(concat('%',#{userid,jdbcType=VARCHAR}),'%')
   </select>
   
   <select id="selectByCid" resultMap="BaseResultMap" parameterType="java.lang.String">
   	select <include refid="Base_Column_List" /> from IPO_ORDER where COMMODITYID = #{commodityid,jdbcType=VARCHAR}
   </select>
   
   <select id="sequence" resultType="java.lang.Long">
	SELECT SEQ_IPO_ORDER.NEXTVAL FROM dual
   </select>
   
   <select id="selectByCidPaged" parameterType="map" resultMap="BaseResultMap">
   	select <include refid="Base_Column_List" /> from (select t.*,rownum TNO from IPO_ORDER t where frozenst=0 and COMMODITYID = #{commodityid,jdbcType=VARCHAR}) a where a.TNO between  #{beginnum} and  #{endnum}
   </select>
   
  <update id="updateByOrderId" parameterType="map" >
    update IPO_ORDER
    set 
      FROZENST = #{frozenst,jdbcType=INTEGER}
    where ORDERID = #{orderid,jdbcType=VARCHAR}
  </update>

</mapper>