<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoPositionReduceMapper">
	<resultMap id="PositionReduceResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoPositionReduce">
		<result column="id" property="id" />
		<result column="positionflow_id" property="positionFlowId" />
		<result column="ratio" property="ratio" />
		<result column="reduceqty" property="reduceqty" />
		<result column="reduce_date" property="reduceDate" />
		<result column="state" property="state" />
		<result column="create_user" property="createUser" />
		<result column="create_date" property="createDate" />
		<result column="update_user" property="updateUser" />
		<result column="update_date" property="updateDate" />
		<result column="firmid" property="firmId" />
		<result column="commodityid" property="commodityId" />
	</resultMap>



  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yrdce.ipo.modules.sys.vo.PositionReduce" >
	  <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
		select seq_ipo_positionreduce.nextval from dual
      </selectKey>
      insert into ipo_positionreduce(
          id, positionflow_id, ratio, reduceqty,reduce_date, state, 
          create_user,create_date)
      values(
          #{id,jdbcType=INTEGER},#{positionFlowId},#{ratio},#{reduceqty},#{reduceDate},#{state},
          #{createUser},#{createDate,jdbcType=TIMESTAMP}
      )
  </insert>


   <select id="queryForList" resultMap="PositionReduceResultMap"  parameterType="map" >
            select pr.id, pr.positionflow_id, pr.ratio, pr.reduceqty, pr.reduce_date, pr.state, pr.create_user, pr.create_date, 
			       pr.update_user, pr.update_date,
             	   pf.firmid,pf.commodityid
			from ipo_positionreduce pr
      		left join ipo_positionflow pf on (pr.positionflow_id=pf.id)
			where pr.delete_flag=0
			<if test="param.positionFlowId!=null and param.positionFlowId!='' ">
				 and pr.positionflow_id=#{param.positionFlowId}
			</if>
			<if test="param.state>0">
				 and pr.state=#{param.state}
			</if>
			<if test="param.reduceDate!=null ">
				 and pr.reduce_date=#{param.reduceDate}
			</if>
			<if test="param.commodityId!=null and param.commodityId!='' ">
				 and pf.commodityid=#{param.commodityId}
			</if>
			
			order by pr.create_date desc
  </select>
  
   <select id="queryForPositionId" resultMap="PositionReduceResultMap"  parameterType="map" >
     select * from(select p.firmid,p.commodityid,t.*, rownum TNO from ipo_positionreduce t left join ipo_positionflow p on t.positionflow_id=p.id where t.delete_flag=0 
     <if test="param.positionFlowId!=null and param.positionFlowId!='' ">
		and t.positionflow_id=#{param.positionFlowId}
	 </if>
	 <if test="param.state>0">
	    and t.state=#{param.state}
	</if>
	<if test="param.reduceDate!=null ">
		and t.reduce_date=#{param.reduceDate}
	</if>
	<if test="param.commodityId!=null and param.commodityId!='' ">
		and t.commodityid=#{param.commodityId}
	</if>
     )a  where a.TNO between #{beginnum} and #{endnum}
  </select>
  
  <select id="quertReduceCount" resultType="Integer"  parameterType="com.yrdce.ipo.modules.sys.vo.PositionReduce" >
    select count(*) from ipo_positionreduce t where t.delete_flag=0 
     <if test="param.positionFlowId!=null and param.positionFlowId!='' ">
		and t.positionflow_id=#{param.positionFlowId}
	 </if>
	 <if test="param.state>0">
	    and t.state=#{param.state}
	</if>
	<if test="param.reduceDate!=null ">
		and t.reduce_date=#{param.reduceDate}
	</if>
	<if test="param.commodityId!=null and param.commodityId!='' ">
		and t.commodityid=#{param.commodityId}
	</if>
  </select>

  <delete id="deleteById" parameterType="com.yrdce.ipo.modules.sys.vo.PositionReduce" >
      update ipo_positionreduce pr 
      set pr.delete_flag=1,pr.update_user=#{updateUser},pr.update_date=#{updateDate,jdbcType=TIMESTAMP} 
      where pr.id=#{id}
  </delete>
  
  
   <update id="updateState"  parameterType="com.yrdce.ipo.modules.sys.vo.PositionReduce" >
	   update ipo_positionreduce pr set 
	     pr.state=#{state},pr.update_user=#{updateUser},pr.update_date=#{updateDate,jdbcType=TIMESTAMP} 
	   where pr.id=#{id}
  </update>
  
  
  
</mapper>
