<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoPositionFlowMapper">
	<resultMap id="PositionFlowResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoPositionFlow">
		<result column="id" property="id" />
		<result column="firmid" property="firmId" />
		<result column="holdqty" property="holdqty" />
		<result column="frozenqty" property="frozenqty" />
		<result column="freeqty" property="freeqty" />
		<result column="business_code" property="businessCode" />
		<result column="role_code" property="roleCode" />
		<result column="commodityid" property="commodityId" />
		<result column="price" property="price" />
		<result column="state" property="state" />
		<result column="create_user" property="createUser" />
		<result column="create_date" property="createDate" />
		<result column="update_user" property="updateUser" />
		<result column="update_date" property="updateDate" />
		<result column="remark" property="remark" />
		
	</resultMap>
	
	<resultMap id="PubPositionFlowResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoPubPositionFlow">
		<result column="id" property="id" />
		<result column="firmid" property="firmId" />
		<result column="brokerid" property="publisherId" />
		<result column="holdqty" property="holdqty" />
		<result column="frozenqty" property="frozenqty" />
		<result column="freeqty" property="freeqty" />
		<result column="business_code" property="businessCode" />
		<result column="role_code" property="roleCode" />
		<result column="commodityid" property="commodityId" />
		<result column="commodityname" property="commodityName" />
		<result column="price" property="price" />
		<result column="state" property="state" />
		<result column="create_user" property="createUser" />
		<result column="create_date" property="createDate" />
		<result column="update_user" property="updateUser" />
		<result column="update_date" property="updateDate" />
		<result column="remark" property="remark" />
	</resultMap>
	
	


  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.yrdce.ipo.modules.sys.vo.PositionFlow" >
	  <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
		select seq_ipo_positionflow.nextval from dual
      </selectKey>
      insert into ipo_positionflow(
          id, firmid, holdqty, business_code, role_code, commodityid,  
          price,create_user, create_date, state, frozenqty,remark,freeqty
      )values(
           #{id,jdbcType=INTEGER},#{firmId},#{holdqty},#{businessCode},#{roleCode},#{commodityId},
           #{price},#{createUser},#{createDate,jdbcType=TIMESTAMP},#{state},#{frozenqty},#{remark},
           #{freeqty}
      )
  </insert>


   <select id="queryForList" resultMap="PositionFlowResultMap"  parameterType="map" >
            select pf.id,pf.firmid,pf.holdqty,pf.business_code, pf.role_code,
                   pf.commodityid,pf.price,pf.create_user,pf.create_date,
			       pf.update_user,pf.update_date,pf.state,pf.frozenqty,pf.remark,
			       pf.freeqty
			from ipo_positionflow pf
	        where 1=1
			<if test="param.businessCode!=null and param.businessCode!='' ">
				 and pf.business_code=#{param.businessCode}
			</if>
			<if test="param.firmId!=null and param.firmId!='' ">
				 and pf.firmid=#{param.firmId}
			</if>
			<if test="param.commodityId!=null and param.commodityId!='' ">
				 and pf.commodityid=#{param.commodityId}
			</if>
			<if test="param.state>0 ">
				and  pf.state=#{param.state} 
			</if>
			<if test="param.id!=null and param.id!='' ">
				 and pf.id=#{param.id}
			</if>
			order by pf.create_date desc
  </select>
  

    
   <select id="queryForPage" resultMap="PositionFlowResultMap"  parameterType="map" >
       select * from (
           select pg.*,rownum as row_num from (
	            select pf.id,pf.firmid,pf.holdqty,pf.business_code, pf.role_code,
                   pf.commodityid,pf.price,pf.create_user,pf.create_date,
			       pf.update_user,pf.update_date,pf.state,pf.frozenqty,pf.remark,
			       pf.freeqty
				from ipo_positionflow pf
		        where 1=1
				<if test="param.businessCode!=null and param.businessCode!='' ">
					 and pf.business_code=#{param.businessCode}
				</if>
				<if test="param.roleCode!=null and param.roleCode!='' ">
					 and pf.role_code=#{param.roleCode}
				</if>
				<if test="param.firmId!=null and param.firmId!='' ">
					 and pf.firmid=#{param.firmId}
				</if>
				<if test="param.commodityId!=null and param.commodityId!='' ">
					 and pf.commodityid=#{param.commodityId}
				</if>
				<if test="param.state>0 ">
					and  pf.state=#{param.state} 
				</if>
				order by pf.create_date desc
			) pg where #{endIndex} >=rownum
		) where row_num>=#{startIndex}
		 
  </select>
  
   <select id="queryForCount" resultType="java.lang.Long"    parameterType="map" >
      select count(pf.id) as count_   from ipo_positionflow pf
      where 1=1
	 <if test="param.businessCode!=null and param.businessCode!='' ">
		 and pf.business_code=#{param.businessCode}
	 </if>
	 <if test="param.roleCode!=null and param.roleCode!='' ">
		and pf.role_code=#{param.roleCode}
	 </if>
	 <if test="param.firmId!=null and param.firmId!='' ">
		 and pf.firmid=#{param.firmId}
	 </if>
	 <if test="param.commodityId!=null and param.commodityId!='' ">
		 and pf.commodityid=#{param.commodityId}
	 </if>
	 <if test="param.state>0 ">
		and  pf.state=#{param.state} 
	 </if>
  </select>
  
  <select id="queryPubFlowForPage" resultMap="PubPositionFlowResultMap"  parameterType="map" >
      select * from (select b.brokerid,c.commodityname, t.*, rownum TNO from ipo_positionflow t left join br_broker b on t.firmid = b.firmid
      left join ipo_commodity_conf c on t.commodityid=c.commodityid
      where 1=1 
      <if test="param.businessCode!=null and param.businessCode!='' ">
        and t.business_code = #{param.businessCode}
      </if>
      <if test="param.roleCode!=null and param.roleCode!='' ">
        and t.role_code =#{param.roleCode}
      </if>
      <if test="param.commodityId!=null and param.commodityId!='' ">
        and t.commodityid =#{param.commodityId}
      </if>
      <if test="param.state>0 ">
        and t.state = #{param.state} 
      </if>
       <if test="param.publisherId!=null and param.publisherId!='' ">
        and b.brokerid = #{param.publisherId} 
       </if>
      order by t.id)p where p.TNO between #{startIndex} and #{endIndex}  
  </select>
  
   <select id="queryPubFlowForCount" resultType="java.lang.Long"  parameterType="map" >
     select count(*) from ipo_positionflow t  left join br_broker b  on t.firmid = b.firmid  
     where 1=1
     <if test="param.businessCode!=null and param.businessCode!='' ">
		 and t.business_code=#{param.businessCode}
	 </if>
	 <if test="param.roleCode!=null and param.roleCode!='' ">
		and t.role_code=#{param.roleCode}
	 </if>
	 <if test="param.commodityId!=null and param.commodityId!='' ">
		 and t.commodityid=#{param.commodityId}
	 </if>
	 <if test="param.state>0 ">
		and  t.state=#{param.state} 
	 </if>
     <if test="param.publisherId!=null and param.publisherId!='' ">
        and b.brokerid = #{param.publisherId} 
       </if>
  </select>
  
  
  

  <update id="updateFreeqty"   parameterType="com.yrdce.ipo.modules.sys.vo.PositionFlow" >
     update ipo_positionflow t set 
          t.freeqty=#{freeqty},t.update_user=#{updateUser},t.update_date=#{updateDate,jdbcType=TIMESTAMP}
     where t.id=#{id}
  </update>
  

   <select id="transferGoodsPosition" statementType="CALLABLE" parameterType="java.util.HashMap">
       <![CDATA[
            {call SP_I_TRANSFERGOODSPOSITION(#{commodityid,mode=IN,jdbcType=VARCHAR},#{operUser,mode=IN,jdbcType=VARCHAR})}
       ]]>
 
  </select>

</mapper>
