<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoPickupMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoPickup" >
    <id column="PICKUP_ID" property="pickupId" jdbcType="VARCHAR" />
    <result column="PICKUP_PASSWORD" property="pickupPassword" jdbcType="VARCHAR" />
    <result column="IDCARD_NUM" property="idcardNum" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from IPO_PICKUP
    where PICKUP_ID = #{pickupId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="pickupId" parameterType="com.yrdce.ipo.modules.sys.entity.IpoPickup" >
  	<selectKey resultType="Integer" order="BEFORE" keyProperty="pickupId">
	SELECT SEQ_IPO_PICKUP.NEXTVAL FROM dual
	</selectKey>
    insert into IPO_PICKUP (PICKUP_ID, PICKUP_PASSWORD, IDCARD_NUM
      )
    values (#{pickupId,jdbcType=VARCHAR}, #{pickupPassword,jdbcType=VARCHAR}, #{idcardNum,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.IpoPickup" >
    update IPO_PICKUP
    set PICKUP_PASSWORD = #{pickupPassword,jdbcType=VARCHAR},
      IDCARD_NUM = #{idcardNum,jdbcType=VARCHAR}
    where PICKUP_ID = #{pickupId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PICKUP_ID, PICKUP_PASSWORD, IDCARD_NUM
    from IPO_PICKUP
    where PICKUP_ID = #{pickupId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PICKUP_ID, PICKUP_PASSWORD, IDCARD_NUM
    from IPO_PICKUP
  </select>
  <select id="selectPickuoAndCost" parameterType="java.lang.String" resultType="com.yrdce.ipo.modules.sys.entity.IpoPickup">
  	select p.*,t.* from ipo_deliveryorder d left join ipo_delivery_cost p on d.DELIVERYORDER_ID = p.delivery_id 
	left join ipo_pickup t on t.pickup_id = d.method_id where d.deliveryorderId = #{deliveryorderId,jdbcType=VARCHAR} 
	and d.method_id = #{methodid,jdbcType=VARCHAR}
  </select>
  
  
  
</mapper>