<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoSpoRationMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoSpoRation" >
    <id column="RATIONID" property="rationid" jdbcType="DECIMAL" />
    <result column="SPOID" property="spoid" jdbcType="VARCHAR" />
    <result column="RATIONCOUNTS" property="rationcounts" jdbcType="DECIMAL" />
    <result column="FIRMID" property="firmid" jdbcType="VARCHAR" />
    <result column="OPERATIONDATE" property="operationdate" jdbcType="DATE" />
    <result column="RATIONLOAN" property="rationloan" jdbcType="DECIMAL" />
    <result column="SERVICEFEE" property="servicefee" jdbcType="DECIMAL" />
    <result column="SALES_ALLOCATIONRATIO" property="salesAllocationratio" jdbcType="DECIMAL" />
    <result column="SALES_REBATERATIO" property="salesRebateratio" jdbcType="DECIMAL" />
    <result column="FIRMNAME" property="firmname" jdbcType="VARCHAR" />
    <result column="SALESID" property="salesid" jdbcType="VARCHAR" />
    <result column="RATION_SATE" property="rationSate" jdbcType="DECIMAL" />
    <result column="COMMUNITY_ID" property="communityId" jdbcType="VARCHAR" />
    <result column="REGISTER_DATE" property="registerDate" jdbcType="DATE" />
     <result column="SPO_COUNTS" property="spoCounts" jdbcType="DECIMAL" />
     <result column="SPO_PRICE" property="spoPrice" jdbcType="DECIMAL" />
     <result column="IPO_DATE" property="ipoDate" jdbcType="DATE" />
     <result column="SPO_DATE" property="spoDate" jdbcType="DATE" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    RATIONID, SPOID, RATIONCOUNTS, FIRMID, OPERATIONDATE, RATIONLOAN, SERVICEFEE, 
    SALES_ALLOCATIONRATIO, SALES_REBATERATIO, FIRMNAME, SALESID,RATION_SATE
  </sql>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from IPO_SPO_RATION
    where RATIONID = #{rationid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="rationid" parameterType="com.yrdce.ipo.modules.sys.entity.IpoSpoRation" >
  	<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="rationid">
	SELECT SEQ_IPO_SPO_RATION.NEXTVAL FROM dual
	</selectKey>
    insert into IPO_SPO_RATION (RATIONID, SPOID, RATIONCOUNTS, 
      FIRMID, OPERATIONDATE, RATIONLOAN, 
      SERVICEFEE, SALES_ALLOCATIONRATIO, SALES_REBATERATIO, 
      FIRMNAME, SALESID,RATION_SATE)
    values (#{rationid,jdbcType=DECIMAL}, #{spoid,jdbcType=VARCHAR}, #{rationcounts,jdbcType=DECIMAL}, 
      #{firmid,jdbcType=VARCHAR}, #{operationdate,jdbcType=DATE}, #{rationloan,jdbcType=DECIMAL}, 
      #{servicefee,jdbcType=DECIMAL}, #{salesAllocationratio,jdbcType=DECIMAL}, #{salesRebateratio,jdbcType=DECIMAL}, 
      #{firmname,jdbcType=VARCHAR}, #{salesid,jdbcType=VARCHAR},#{rationSate,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.IpoSpoRation" >
    update IPO_SPO_RATION
    set SPOID = #{spoid,jdbcType=VARCHAR},
      RATIONCOUNTS = #{rationcounts,jdbcType=DECIMAL},
      FIRMID = #{firmid,jdbcType=VARCHAR},
      OPERATIONDATE = #{operationdate,jdbcType=DATE},
      RATIONLOAN = #{rationloan,jdbcType=DECIMAL},
      SERVICEFEE = #{servicefee,jdbcType=DECIMAL},
      SALES_ALLOCATIONRATIO = #{salesAllocationratio,jdbcType=DECIMAL},
      SALES_REBATERATIO = #{salesRebateratio,jdbcType=DECIMAL},
      FIRMNAME = #{firmname,jdbcType=VARCHAR},
      SALESID = #{salesid,jdbcType=VARCHAR},
      RATION_SATE = #{rationSate,jdbcType=DECIMAL}
    where RATIONID = #{rationid,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select RATIONID, SPOID, RATIONCOUNTS, FIRMID, OPERATIONDATE, RATIONLOAN, SERVICEFEE, 
    SALES_ALLOCATIONRATIO, SALES_REBATERATIO, FIRMNAME, SALESID,RATION_SATE
    from IPO_SPO_RATION
    where RATIONID = #{rationid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from IPO_SPO_RATION
  </select>
  <select id="selectBySPOid" resultType="com.yrdce.ipo.modules.sys.entity.IpoSpoRation" parameterType="java.lang.String">
  select d.name,d.brokerid,t.* from br_broker d 
  left join (select * from ipo_spo_ration where spoid=#{spoid,jdbcType=VARCHAR})t 
  on d.firmid = t.firmid 
  left join br_brokertype btype 
	on d.membertype = btype.borkertype 
   where btype.brokername = '承销会员'
  </select>
  
  <select id="selectSPOAndRa" resultMap="BaseResultMap" parameterType="map">
  select * from (
    select r.RATIONID, r.SPOID, r.RATIONCOUNTS, r.FIRMID, r.OPERATIONDATE, r.RATIONLOAN, r.SERVICEFEE, 
	r.SALES_ALLOCATIONRATIO, r.SALES_REBATERATIO, r.FIRMNAME, r.SALESID,c.community_id,c.register_date,
	r.RATION_SATE,rownum TNO from IPO_SPO_RATION r left join ipo_spo_commoditymanmaagement c on r.spoid = c.spo_id
	where 1=1
    <if test="IpoSpoComm.communityId != null and IpoSpoComm.communityId !=''" >
    and c.community_id = #{IpoSpoComm.communityId,jdbcType=VARCHAR}
    </if>
    <if test="IpoSpoComm.registerDate != null and IpoSpoComm.registerDate != ''">
    and c.register_date = #{IpoSpoComm.registerDate,jdbcType=DATE}
    </if>
     ) a where a.TNO between  #{beginnum} and  #{endnum} order by a.spoid
  </select>
  
  <select id="counts" resultType="java.lang.Integer" parameterType="map">
  	select count(0) from IPO_SPO_RATION t inner join ipo_spo_commoditymanmaagement c
  	on t.spoid = c.spo_id
  	where 1=1
    <if test="IpoSpoComm.communityId != null and IpoSpoComm.communityId != ''"> 
    and c.community_id = #{IpoSpoComm.communityId,jdbcType=VARCHAR}
    </if>
    <if test="IpoSpoComm.registerDate != null and IpoSpoComm.registerDate != ''">
    and c.register_date = #{IpoSpoComm.registerDate,jdbcType=DATE}
    </if>
  </select>
  
  <select id="getRationInfoCounts" resultType="java.lang.Integer" parameterType="map">
  	SELECT COUNT(r.rationid) FROM
	 IPO_SPO_RATION r left join ipo_spo_commoditymanmaagement c on r.spoid = c.spo_id
  	 WHERE 1=1
  	 <if test="IpoSpoComm.communityId != null" >
       AND c.COMMUNITY_ID = #{IpoSpoComm.communityId} 
     </if>
     <if test="IpoSpoComm.registerDateSart !=null and IpoSpoComm.registerDateEnd!=null">
     	and c.register_date between to_date(#{IpoSpoComm.registerDateSart},'yyyy-mm-dd') and to_date(#{IpoSpoComm.registerDateEnd},'yyyy-mm-dd')
     </if>
  </select>
  
  <select id="getMyRationInfo" resultMap="BaseResultMap" parameterType="map">
  select * from (
    select r.RATIONID, r.SPOID, r.RATIONCOUNTS, r.FIRMID, r.OPERATIONDATE, r.RATIONLOAN, r.SERVICEFEE, 
	r.SALES_ALLOCATIONRATIO, r.SALES_REBATERATIO, r.FIRMNAME, r.SALESID,r.RATION_SATE,c.community_id,c.register_date,
	c.SPO_COUNTS,c.SPO_PRICE,c.SPO_DATE,c.IPO_DATE,
	rownum TNO from IPO_SPO_RATION r left join ipo_spo_commoditymanmaagement c on r.spoid = c.spo_id
	where  r.firmid = #{IpoSpoComm.firmid,jdbcType=VARCHAR}
    <if test="IpoSpoComm.communityId != null and IpoSpoComm.communityId !=''">
    and c.community_id = #{IpoSpoComm.communityId,jdbcType=VARCHAR}
    </if>
    <if test="IpoSpoComm.registerDateSart !=null and IpoSpoComm.registerDateEnd!=null">
     	and c.register_date between to_date(#{IpoSpoComm.registerDateSart},'yyyy-mm-dd') and to_date(#{IpoSpoComm.registerDateEnd},'yyyy-mm-dd')
     </if>
     ) a where a.TNO between  #{beginnum} and  #{endnum} order by a.spoid
  </select>
  <update id="updateRationType" parameterType="java.lang.Long" >
    update IPO_SPO_RATION
    set 
    RATION_SATE = 2
    where RATIONID = #{rationId,jdbcType=DECIMAL}
  </update>

  <update id="updateByStatus" parameterType="map">
   update IPO_SPO_RATION
    set RATION_SATE = #{rationSate,jdbcType=DECIMAL} where SPOID = #{spoid,jdbcType=VARCHAR}
  </update>

  <select id="select" resultType="com.yrdce.ipo.modules.sys.entity.IpoSpoRation" parameterType="java.lang.Long" >
    select c.spo_price,t.*  from (select RATIONID,
       SPOID,
       RATIONCOUNTS,
       FIRMID,
       OPERATIONDATE,
       RATIONLOAN,
       SERVICEFEE,
       SALES_ALLOCATIONRATIO,
       SALES_REBATERATIO,
       FIRMNAME,
       SALESID,
       RATION_SATE
  from IPO_SPO_RATION s  where RATIONID = #{rationid,jdbcType=DECIMAL})t
  left join ipo_spo_commoditymanmaagement c
    on c.spo_id = t.spoid
  </select>
  
  <select id="firmidBySales" resultType="java.lang.String">
  select b.firmid from br_broker b 
	left join br_brokertype btype 
	on b.membertype = btype.borkertype 
	where btype.brokername = '承销会员' and  b.brokerid =#{brokerid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectFirmname" resultType="java.lang.String" parameterType="java.lang.String">
  select t.name from m_firm t where t.firmid =  #{firmid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectInfoBySPOid" resultMap="BaseResultMap" parameterType="java.lang.String">
	select <include refid="Base_Column_List"/> from IPO_SPO_RATION where SPOID = #{spoid,jdbcType=VARCHAR}
  </select>
</mapper>