<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoTrusteeshipCommodityMapper" >
  
  <resultMap id="IpoTrusteeshipCommodityResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoTrusteeshipCommodity" >
    <result column="id" property="id"  />
    <result column="plan" property="plan"  />
    <result column="commodity_id" property="commodityId"  />
    <result column="commodityname" property="commodityName"  />
    <result column="price" property="price"  />
    <result column="counts" property="counts"  />
  </resultMap>
 
    
  <select id="queryApplyForPage" resultMap="IpoTrusteeshipCommodityResultMap"  parameterType="map" >
       select * from (
	        select tc.id,tc.plan,tc.commodity_id,conf.commodityname,conf.price,conf.counts,rownum as row_num  
			from IPO_TRUSTEESHIP_COMMODITY tc
			left join ipo_commodity_conf conf on (tc.commodity_id=conf.commodityid)
			where tc.delete_flag=0 
			<if test="commodity.commodityId!=null and commodity.commodityId!='' ">
				and tc.commodity_id=#{commodity.commodityId} 
			</if>
			and #{endIndex} >=rownum
		) where row_num>=#{startIndex}
  </select>
   
     
  <select id="queryApplyForCount" resultType="java.lang.Long"    parameterType="map" >
      select count(tc.id) as count_ 
	  from ipo_trusteeship_commodity tc
	  left join ipo_commodity_conf conf on (tc.commodity_id=conf.commodityid)
	  where tc.delete_flag=0
	  <if test="commodity.commodityId!=null and commodity.commodityId!='' ">
			and tc.commodity_id=#{commodity.commodityId} 
	  </if>
  </select>
  
  
  
</mapper>