<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoTrusteeshipMapper" >
  
  
  <resultMap id="IpoTrusteeshipResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoTrusteeship" >
    <result column="id" property="id"  />
    <result column="commodity_id" property="commodityId"  />
    <result column="commodityname" property="commodityName"  />
    <result column="create_user" property="createUser"  />
    <result column="create_user_name" property="createUserName"  />
    <result column="create_user_mobile" property="createUserMobile"  />
    <result column="apply_amount" property="applyAmount"  />
    <result column="instorage_amount" property="instorageAmount"  />
    <result column="effective_amount" property="effectiveAmount"  />
    <result column="position_amount" property="positionAmount"  />
    <result column="publish_charge" property="publishCharge"  />
    <result column="plan" property="plan"  />
    <result column="delay_charge" property="delayCharge"  />
    <result column="state" property="state"  />
    <result column="create_date" property="createDate"  />
    <result column="auditing_date" property="auditingDate"  />
    <result column="warehousename" property="warehouseName"  />
    <result column="apply_amount" property="applyAmount"  />
    <result column="effective_amount" property="effectiveAmount"  />
    <result column="position_amount" property="positionAmount"  />
    <result column="publish_charge" property="publishCharge"  />
    <result column="listing_charge" property="listingCharge"  />
    <result column="delete_flag" property="deleteFlag"  />
  </resultMap>
  
   
   
    <insert id="insertApply" useGeneratedKeys="true" keyProperty="id" parameterType="com.yrdce.ipo.modules.sys.vo.Trusteeship" >
	    <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">
		select seq_ipo_trusteeship.nextval from dual
		</selectKey>
       insert into ipo_trusteeship(
          id, apply_amount,trusteeship_commodity_id,state, price,   
	      create_user, create_date, commodity_id
 	   )values (
 	      #{id,jdbcType=INTEGER}, #{applyAmount},#{trusteeshipCommodityId}, #{state}, #{price},  
          #{createUser},#{createDate,jdbcType=TIMESTAMP}, #{commodityId}
       )
  </insert>
   
   
   <select id="queryApplyForPage" resultMap="IpoTrusteeshipResultMap"  parameterType="map" >
       select * from (
	        select ship.id,ship.commodity_id,comm.commodityname,ship.create_user,firm.name as create_user_name,
	               to_char(firm.mobile) as create_user_mobile,
	               ship.apply_amount,ship.instorage_amount,ship.effective_amount,ship.position_amount,ship.publish_charge,
				   trucomm.plan,ship.delay_charge,ship.state,ship.create_date,ship.auditing_date,biware.warehousename,
				   rownum as row_num
			from ipo_trusteeship ship 
			left join ipo_commodity_sale comm on (ship.commodity_id=comm.commodityid)
			left join ipo_trusteeship_commodity trucomm on (ship.trusteeship_commodity_id=trucomm.id)
			left join ipo_trusteeship_warehouse  truware on (ship.commodity_id=truware.commodity_id)
			left join bi_warehouse biware on (truware.warehouse_id=biware.id)
			left join m_firm firm on (ship.create_user=firm.firmid)
			where ship.delete_flag=0
			<if test="ship.commodityId!=null and ship.commodityId!='' ">
				 and ship.commodity_id like '%'||#{ship.commodityId}||'%' 
			</if>
			<if test="ship.commodityName!=null and ship.commodityName!='' ">
			 	and  comm.commodityname like '%'||#{ship.commodityName}||'%' 
			</if>
			<if test="ship.state>0 ">
				and  ship.state=#{ship.state} 
			</if>
			<if test="ship.createUser!=null and ship.createUser!=''">
				and  ship.create_user=#{ship.createUser} 
			</if>
			<if test="ship.warehouseId>0 ">
				and  truware.warehouse_id=#{ship.warehouseId} 
		    </if>
		    <if test="ship.beginCreateDate!=null and ship.beginCreateDate!='' ">
				and ship.create_date>=to_date(#{ship.beginCreateDate},'mm/dd/yyyy')  
			</if>
			<if test="ship.endCreateDate!=null and ship.endCreateDate!='' ">
				and to_date(#{ship.endCreateDate},'mm/dd/yyyy')>=ship.create_date
			</if>
			<if test="ship.beginAuditingDate!=null and ship.beginAuditingDate!='' ">
				and ship.auditing_date>=to_date(#{ship.beginAuditingDate},'mm/dd/yyyy')  
			</if>
			 <if test="ship.endAuditingDate!=null and ship.endAuditingDate!='' ">
				and to_date(#{ship.endAuditingDate},'mm/dd/yyyy')>= ship.auditing_date
			</if>
			and #{endIndex} >=rownum
		) where row_num>=#{startIndex}
		 
  </select>
   
   <select id="queryApplyForCount" resultType="java.lang.Long"    parameterType="map" >
       select count(ship.id ) as count_ 
			from ipo_trusteeship ship 
			left join ipo_commodity_sale comm on (ship.commodity_id=comm.commodityid)
			left join ipo_trusteeship_commodity trucomm on (ship.trusteeship_commodity_id=trucomm.id)
			left join ipo_trusteeship_warehouse  truware on (ship.commodity_id=truware.commodity_id)
			left join bi_warehouse biware on (truware.warehouse_id=biware.id)
			left join m_firm firm on (ship.create_user=firm.firmid)
			where ship.delete_flag=0
		<if test="ship.commodityId!=null and ship.commodityId!='' ">
			 and ship.commodity_id like '%'||#{ship.commodityId}||'%' 
		</if>
		<if test="ship.commodityName!=null and ship.commodityName!='' ">
			 and  comm.commodityname like '%'||#{ship.commodityName}||'%' 
		</if>
		<if test="ship.state>0 ">
			and  ship.state=#{ship.state} 
		</if>
		<if test="ship.createUser!=null and ship.createUser!=''">
				and  ship.create_user=#{ship.createUser} 
		</if>
		<if test="ship.warehouseId>0 ">
			and  truware.warehouse_id=#{ship.warehouseId} 
	    </if>
	    <if test="ship.beginCreateDate!=null and ship.beginCreateDate!='' ">
			and ship.create_date>=to_date(#{ship.beginCreateDate},'mm/dd/yyyy')  
		</if>
		 <if test="ship.endCreateDate!=null and ship.endCreateDate!='' ">
			and to_date(#{ship.endCreateDate},'mm/dd/yyyy')>=  ship.create_date
		</if>
		<if test="ship.beginAuditingDate!=null and ship.beginAuditingDate!='' ">
			and ship.auditing_date>=to_date(#{ship.beginAuditingDate},'mm/dd/yyyy')  
		</if>
		 <if test="ship.endAuditingDate!=null and ship.endAuditingDate!='' ">
			and to_date(#{ship.endAuditingDate},'mm/dd/yyyy')>=ship.auditing_date
		</if>
		 
  </select>
   
  <update id="canelApply" parameterType="map">
     update ipo_trusteeship t set t.state=#{ship.state},t.update_user=#{ship.updateUser},
            t.update_date=#{ship.updateDate,jdbcType=TIMESTAMP}
     where t.id=#{ship.id} 
  </update>
  
  
  <select id="get" resultMap="IpoTrusteeshipResultMap"  parameterType="java.lang.Long" >
       select id, apply_amount, instorage_amount, effective_amount, 
          position_amount, trusteeship_commodity_id, state, price, publish_charge, delay_charge, listing_charge, 
          auditing_date, create_user, create_date, update_user, update_date, delete_flag, commodity_id 
       from ipo_trusteeship
       where id=#{id}
  </select>
  
  
  
</mapper>