<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoUnderwriterDepositMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoUnderwriterDeposit" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="DELETE_FLAG" property="deleteFlag" jdbcType="DECIMAL" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
    <result column="UNDERWRITERID" property="underwriterid" jdbcType="VARCHAR" />
    <result column="COMMODITYID" property="commodityid" jdbcType="VARCHAR" />
    <result column="SUBSCRIBEID" property="subscribeid" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.IpoUnderwriterDeposit" >
    insert into IPO_UNDERWRITER_DEPOSIT (ID, AMOUNT, REMARK, 
      DELETE_FLAG, CREATE_USER, CREATE_DATE, 
      UPDATE_USER, UPDATE_DATE, STATE,SUBSCRIBEID
      )
    values (#{id,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, 
      #{deleteFlag,jdbcType=DECIMAL}, #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}, #{state,jdbcType=DECIMAL}, #{subscribeid,jdbcType=DECIMAL}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, AMOUNT, REMARK, DELETE_FLAG, CREATE_USER, CREATE_DATE, UPDATE_USER, UPDATE_DATE, 
    STATE,SUBSCRIBEID
    from IPO_UNDERWRITER_DEPOSIT
  </select>
  <select id="getSubFundsInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
	  select a.* from
	  (select t.id,t.amount,b.underwriterid,b.commodityid,rownum TNO
	  from ipo_underwriter_deposit t 
	  inner join ipo_underwriter_subscribe b 
	  on t.subscribeid = b.subscribeid
	  where 1=1 
	  <if test="underwriterid!=null and underwriterid!=''">
	  and b.underwriterid=#{underwriterid,jdbcType=VARCHAR}
	  </if>
	  order by t.id)a
	  where a.TNO between  #{beginnum} and #{endnum}
  </select>
  <select id="getSubFundsInfoCounts" parameterType="java.lang.String" resultType="java.lang.Integer">
	  select count(0) 
	  from ipo_underwriter_deposit t 
	  inner join ipo_underwriter_subscribe b 
	  on t.subscribeid = b.subscribeid
	  where 1=1 
	  <if test="underwriterid!=null and underwriterid!=''">
	  and b.underwriterid=#{underwriterid,jdbcType=VARCHAR}
	  </if>
  </select>
</mapper>