<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.IpoUnderwriterDepositMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.IpoUnderwriterDeposit" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
    <result column="BROKERID" property="brokerid" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE" />
  </resultMap>
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.IpoUnderwriterDeposit" >
  	 <selectKey resultType="Long" order="BEFORE" keyProperty="id">
	SELECT SEQ_IPO_UNDERWRITER_DEPOSIT.NEXTVAL FROM dual
	</selectKey>
    insert into IPO_UNDERWRITER_DEPOSIT (ID, AMOUNT,BROKERID, REMARK, 
       CREATE_USER, CREATE_DATE, 
      UPDATE_USER, UPDATE_DATE
      )
    values (#{id,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL},#{brokerid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE}
      )
  </insert>
   <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.IpoUnderwriterDeposit" >
    update IPO_UNDERWRITER_DEPOSIT
    set AMOUNT = #{amount,jdbcType=DECIMAL},
      BROKERID = #{brokerid,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=DATE}   
      where ID = #{id,jdbcType=DECIMAL}
  </update>
   <select id="selectInfoByBrokerId" resultType="com.yrdce.ipo.modules.sys.entity.IpoUnderwriterDeposit" parameterType="java.lang.String">
    select ID, AMOUNT,BROKERID,  REMARK, CREATE_USER, CREATE_DATE, UPDATE_USER, UPDATE_DATE
    from IPO_UNDERWRITER_DEPOSIT where BROKERID=#{brokerid,jdbcType=VARCHAR} 
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, AMOUNT,BROKERID,  REMARK, CREATE_USER, CREATE_DATE, UPDATE_USER, UPDATE_DATE
    from IPO_UNDERWRITER_DEPOSIT
  </select>
</mapper>