<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.TACommoditytradepropMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.TACommoditytradeprop" >
    <id column="COMMODITYID" property="commodityid" jdbcType="VARCHAR" />
    <id column="SECTIONID" property="sectionid" jdbcType="DECIMAL" />
    <result column="MODIFYTIME" property="modifytime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    COMMODITYID, SECTIONID, MODIFYTIME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yrdce.ipo.modules.sys.entity.TACommoditytradepropExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_A_COMMODITYTRADEPROP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.yrdce.ipo.modules.sys.entity.TACommoditytradepropKey" >
    select 
    <include refid="Base_Column_List" />
    from T_A_COMMODITYTRADEPROP
    where COMMODITYID = #{commodityid,jdbcType=VARCHAR}
      and SECTIONID = #{sectionid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.TACommoditytradepropKey" >
    delete from T_A_COMMODITYTRADEPROP
    where COMMODITYID = #{commodityid,jdbcType=VARCHAR}
      and SECTIONID = #{sectionid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.yrdce.ipo.modules.sys.entity.TACommoditytradepropExample" >
    delete from T_A_COMMODITYTRADEPROP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.TACommoditytradeprop" >
    insert into T_A_COMMODITYTRADEPROP (COMMODITYID, SECTIONID, MODIFYTIME
      )
    values (#{commodityid,jdbcType=VARCHAR}, #{sectionid,jdbcType=DECIMAL}, #{modifytime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yrdce.ipo.modules.sys.entity.TACommoditytradeprop" >
    insert into T_A_COMMODITYTRADEPROP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commodityid != null" >
        COMMODITYID,
      </if>
      <if test="sectionid != null" >
        SECTIONID,
      </if>
      <if test="modifytime != null" >
        MODIFYTIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commodityid != null" >
        #{commodityid,jdbcType=VARCHAR},
      </if>
      <if test="sectionid != null" >
        #{sectionid,jdbcType=DECIMAL},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yrdce.ipo.modules.sys.entity.TACommoditytradepropExample" resultType="java.lang.Integer" >
    select count(*) from T_A_COMMODITYTRADEPROP
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_A_COMMODITYTRADEPROP
    <set >
      <if test="record.commodityid != null" >
        COMMODITYID = #{record.commodityid,jdbcType=VARCHAR},
      </if>
      <if test="record.sectionid != null" >
        SECTIONID = #{record.sectionid,jdbcType=DECIMAL},
      </if>
      <if test="record.modifytime != null" >
        MODIFYTIME = #{record.modifytime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_A_COMMODITYTRADEPROP
    set COMMODITYID = #{record.commodityid,jdbcType=VARCHAR},
      SECTIONID = #{record.sectionid,jdbcType=DECIMAL},
      MODIFYTIME = #{record.modifytime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yrdce.ipo.modules.sys.entity.TACommoditytradeprop" >
    update T_A_COMMODITYTRADEPROP
    <set >
      <if test="modifytime != null" >
        MODIFYTIME = #{modifytime,jdbcType=DATE},
      </if>
    </set>
    where COMMODITYID = #{commodityid,jdbcType=VARCHAR}
      and SECTIONID = #{sectionid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.TACommoditytradeprop" >
    update T_A_COMMODITYTRADEPROP
    set MODIFYTIME = #{modifytime,jdbcType=DATE}
    where COMMODITYID = #{commodityid,jdbcType=VARCHAR}
      and SECTIONID = #{sectionid,jdbcType=DECIMAL}
  </update>
  
  <select id="selectByCommodity" resultMap="BaseResultMap" parameterType="java.lang.Short">
  	select  <include refid="Base_Column_List" /> from T_A_COMMODITYTRADEPROP where SECTIONID = #{record.sectionid,jdbcType=DECIMAL}
  </select>
</mapper>