<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yrdce.ipo.modules.sys.dao.TATradetimeMapper" >
  <resultMap id="BaseResultMap" type="com.yrdce.ipo.modules.sys.entity.TATradetime" >
    <id column="SECTIONID" property="sectionid" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="STARTTIME" property="starttime" jdbcType="VARCHAR" />
    <result column="ENDTIME" property="endtime" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="GATHERBID" property="gatherbid" jdbcType="DECIMAL" />
    <result column="BIDSTARTTIME" property="bidstarttime" jdbcType="VARCHAR" />
    <result column="BIDENDTIME" property="bidendtime" jdbcType="VARCHAR" />
    <result column="MODIFYTIME" property="modifytime" jdbcType="DATE" />
    <result column="STARTDATE" property="startdate" jdbcType="VARCHAR" />
    <result column="ENDDATE" property="enddate" jdbcType="VARCHAR" />
    <result column="BIDSTARTDATE" property="bidstartdate" jdbcType="VARCHAR" />
    <result column="BIDENDDATE" property="bidenddate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SECTIONID, NAME, STARTTIME, ENDTIME, STATUS, GATHERBID, BIDSTARTTIME, BIDENDTIME, 
    MODIFYTIME, STARTDATE, ENDDATE, BIDSTARTDATE, BIDENDDATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yrdce.ipo.modules.sys.entity.TATradetimeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_A_TRADETIME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    from T_A_TRADETIME
    where SECTIONID = #{sectionid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from T_A_TRADETIME
    where SECTIONID = #{sectionid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.yrdce.ipo.modules.sys.entity.TATradetimeExample" >
    delete from T_A_TRADETIME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yrdce.ipo.modules.sys.entity.TATradetime" >
    insert into T_A_TRADETIME (SECTIONID, NAME, STARTTIME, 
      ENDTIME, STATUS, GATHERBID, 
      BIDSTARTTIME, BIDENDTIME, MODIFYTIME, 
      STARTDATE, ENDDATE, BIDSTARTDATE, 
      BIDENDDATE)
    values (#{sectionid,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{starttime,jdbcType=VARCHAR}, 
      #{endtime,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{gatherbid,jdbcType=DECIMAL}, 
      #{bidstarttime,jdbcType=VARCHAR}, #{bidendtime,jdbcType=VARCHAR}, #{modifytime,jdbcType=DATE}, 
      #{startdate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, #{bidstartdate,jdbcType=VARCHAR}, 
      #{bidenddate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yrdce.ipo.modules.sys.entity.TATradetime" >
    insert into T_A_TRADETIME
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sectionid != null" >
        SECTIONID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="starttime != null" >
        STARTTIME,
      </if>
      <if test="endtime != null" >
        ENDTIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="gatherbid != null" >
        GATHERBID,
      </if>
      <if test="bidstarttime != null" >
        BIDSTARTTIME,
      </if>
      <if test="bidendtime != null" >
        BIDENDTIME,
      </if>
      <if test="modifytime != null" >
        MODIFYTIME,
      </if>
      <if test="startdate != null" >
        STARTDATE,
      </if>
      <if test="enddate != null" >
        ENDDATE,
      </if>
      <if test="bidstartdate != null" >
        BIDSTARTDATE,
      </if>
      <if test="bidenddate != null" >
        BIDENDDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sectionid != null" >
        #{sectionid,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="gatherbid != null" >
        #{gatherbid,jdbcType=DECIMAL},
      </if>
      <if test="bidstarttime != null" >
        #{bidstarttime,jdbcType=VARCHAR},
      </if>
      <if test="bidendtime != null" >
        #{bidendtime,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=DATE},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="bidstartdate != null" >
        #{bidstartdate,jdbcType=VARCHAR},
      </if>
      <if test="bidenddate != null" >
        #{bidenddate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yrdce.ipo.modules.sys.entity.TATradetimeExample" resultType="java.lang.Integer" >
    select count(*) from T_A_TRADETIME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_A_TRADETIME
    <set >
      <if test="record.sectionid != null" >
        SECTIONID = #{record.sectionid,jdbcType=DECIMAL},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null" >
        STARTTIME = #{record.starttime,jdbcType=VARCHAR},
      </if>
      <if test="record.endtime != null" >
        ENDTIME = #{record.endtime,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.gatherbid != null" >
        GATHERBID = #{record.gatherbid,jdbcType=DECIMAL},
      </if>
      <if test="record.bidstarttime != null" >
        BIDSTARTTIME = #{record.bidstarttime,jdbcType=VARCHAR},
      </if>
      <if test="record.bidendtime != null" >
        BIDENDTIME = #{record.bidendtime,jdbcType=VARCHAR},
      </if>
      <if test="record.modifytime != null" >
        MODIFYTIME = #{record.modifytime,jdbcType=DATE},
      </if>
      <if test="record.startdate != null" >
        STARTDATE = #{record.startdate,jdbcType=VARCHAR},
      </if>
      <if test="record.enddate != null" >
        ENDDATE = #{record.enddate,jdbcType=VARCHAR},
      </if>
      <if test="record.bidstartdate != null" >
        BIDSTARTDATE = #{record.bidstartdate,jdbcType=VARCHAR},
      </if>
      <if test="record.bidenddate != null" >
        BIDENDDATE = #{record.bidenddate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_A_TRADETIME
    set SECTIONID = #{record.sectionid,jdbcType=DECIMAL},
      NAME = #{record.name,jdbcType=VARCHAR},
      STARTTIME = #{record.starttime,jdbcType=VARCHAR},
      ENDTIME = #{record.endtime,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      GATHERBID = #{record.gatherbid,jdbcType=DECIMAL},
      BIDSTARTTIME = #{record.bidstarttime,jdbcType=VARCHAR},
      BIDENDTIME = #{record.bidendtime,jdbcType=VARCHAR},
      MODIFYTIME = #{record.modifytime,jdbcType=DATE},
      STARTDATE = #{record.startdate,jdbcType=VARCHAR},
      ENDDATE = #{record.enddate,jdbcType=VARCHAR},
      BIDSTARTDATE = #{record.bidstartdate,jdbcType=VARCHAR},
      BIDENDDATE = #{record.bidenddate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yrdce.ipo.modules.sys.entity.TATradetime" >
    update T_A_TRADETIME
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null" >
        STARTTIME = #{starttime,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null" >
        ENDTIME = #{endtime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="gatherbid != null" >
        GATHERBID = #{gatherbid,jdbcType=DECIMAL},
      </if>
      <if test="bidstarttime != null" >
        BIDSTARTTIME = #{bidstarttime,jdbcType=VARCHAR},
      </if>
      <if test="bidendtime != null" >
        BIDENDTIME = #{bidendtime,jdbcType=VARCHAR},
      </if>
      <if test="modifytime != null" >
        MODIFYTIME = #{modifytime,jdbcType=DATE},
      </if>
      <if test="startdate != null" >
        STARTDATE = #{startdate,jdbcType=VARCHAR},
      </if>
      <if test="enddate != null" >
        ENDDATE = #{enddate,jdbcType=VARCHAR},
      </if>
      <if test="bidstartdate != null" >
        BIDSTARTDATE = #{bidstartdate,jdbcType=VARCHAR},
      </if>
      <if test="bidenddate != null" >
        BIDENDDATE = #{bidenddate,jdbcType=VARCHAR},
      </if>
    </set>
    where SECTIONID = #{sectionid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yrdce.ipo.modules.sys.entity.TATradetime" >
    update T_A_TRADETIME
    set NAME = #{name,jdbcType=VARCHAR},
      STARTTIME = #{starttime,jdbcType=VARCHAR},
      ENDTIME = #{endtime,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      GATHERBID = #{gatherbid,jdbcType=DECIMAL},
      BIDSTARTTIME = #{bidstarttime,jdbcType=VARCHAR},
      BIDENDTIME = #{bidendtime,jdbcType=VARCHAR},
      MODIFYTIME = #{modifytime,jdbcType=DATE},
      STARTDATE = #{startdate,jdbcType=VARCHAR},
      ENDDATE = #{enddate,jdbcType=VARCHAR},
      BIDSTARTDATE = #{bidstartdate,jdbcType=VARCHAR},
      BIDENDDATE = #{bidenddate,jdbcType=VARCHAR}
    where SECTIONID = #{sectionid,jdbcType=DECIMAL}
  </update>
  
  	<select id="selectbycount" resultType="java.lang.Integer" >
  		select count(*) from T_A_TRADETIME
  	</select>
  	
  	  <select id="select" resultMap="BaseResultMap">
  		select * from T_A_TRADETIME where STATUS = 0
  	</select>
</mapper>